//variables
$leftCol: 780px;
$rightCol: 380px;

//variables mobile-large
$leftColMobile: none;
$rightColMobile: none;
$singleCol: auto;
$maxWidthMobile: none;
$gap1: 20px;

//siparis sayfalar
.ems-page-cart {
    background: $linkBg;
    .page-top-title {
        margin-bottom: 35px;
        &.obj-step0 {
            margin-bottom: 12px;
            @extend .h4;
        }
    }

    //sepet sonrasi adimlarda gosterme
    &-step1 {
        .obj-step0 {
            display: none;
        }
    }
}
.ems-page-cart-wrapper {
    @extend .flex;
    @extend .flex-between;
    padding-top: 35px;
    > div {
        width: 100%;
    }
    .ems-page-cart-colmn-2 {
        max-width: $leftCol;
    }
    .ems-page-cart-colmn-3 {
        max-width: $rightCol;
    }
    .cart-section-right {
        display: none;
    }
    .cart-section-right-append .cart-section-right {
        display: block;        
    }
    .bottom-step {
        display: none;
    }
}

//compact order pages
.compact-order-pages {
    background: $linkBg;
    //compact header
    .navbar-item-menu,
    .navbar-right,
    //compact footer
    .footer-ebulten,
    .footer-navbar,
    .footer-copyright {
        display: none !important;
    }
    .navbar-container {
        height: 80px;
    }
    footer {
        margin-top: 60px;
    }
    .footer-information {
        border-top: none;
        background: $white;
    }
}

//sag tarafi gizlemek
.basket-empty,
.order-single-col-body {
    .ems-page-cart-colmn-2 {
        max-width: none;
    }
    .ems-page-cart-colmn-3 {
        display: none !important;
    }
}

//bos sepet
.basket-empty {
    .cart-section-left {
        display: none !important;
    }
}

//siparis adimlar
.tabloTabBtnAdim {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 2001;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    background: #fff;
    td {
        > span {
            display: inline-block;
            vertical-align: top;
            > a {
                display: block;
                line-height: $header-height - 2px;
                font-family: $demiBold;
                font-size: 14px;
                color: $secondary;
                > span {
                    position: relative;
                    display: block;
                    > * {
                        vertical-align: middle;
                    }
                    i {
                        font-size: 24px;
                        margin-right: 9px;
                    }
                    &:after {
                        content: "";
                        display: inline-block;
                        width: 69px;
                        border-top: 7px dotted $secondary;
                        margin: 0 28px;
                    }
                }
            }
            &:last-child {
                > a {
                    > span {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            &:not(.btnDisable):not(.tabBtnSelectedDefault) {
                > a {
                    > span {
                        i {
                            &:before {
                                @extend .icon-success-cut:before;
                            }
                        }
                    }
                }
            }
            &.tabBtnSelectedDefault {
                > a {
                    color: $primary;
                    > span {
                        &:after {
                            border-color: $bg;
                        }
                    }
                }
            }
            &.btnDisable {
                > a {
                    color: $text-2;
                    > span {
                        &:after {
                            border-color: $bg;
                        }
                    }
                }
            }
        }
    }
}

//bildiri
.notification-wrapper {
    margin-bottom: 30px;
    h3 {
        margin-bottom: 36px;
    }
    .notification {
        position: relative;
        background: #fff;
        border: 2px solid $alternative;
        border-radius: 10px;
        padding: 15px;
        font-family: $regular;
        font-size: 14px;
        line-height: 1.8;
        color: $text-1;
        .icon-notify {
            float: left;
            margin-right: 15px;
            font-size: 24px;
        }
    }
}

//sepet grid
.ems-grid-cart {
    .ems-grid-header {
        display: none;
    }
}
.cart-cfg {
    margin-top: 5px;
    a.btnDefault {
        padding: 10px 20px !important;
        > span {
            @extend .flex;
            @extend .flex-middle;
        }
        i {
            font-size: 18px;
            margin-right: 10px;
        }
    }
}
.continue-shopping {
    margin-top: 20px;
    a.btnAlisverisDevam {
        font-family: $bold;
        font-size: 18px;
        color: $primary;
        > span {
            @extend .flex;
            @extend .flex-middle;
        }
        i {
            font-size: 24px;
            margin-right: 10px;
        }
    }
}

//sepet ozet
.ems-cart-summary {
    position: relative !important;
    background: $white;
    margin-top: 74px;
    padding: 25px 30px;
    width: 100%;
    max-width: $rightCol;
    .h4 {
        display: block;
        margin-bottom: 15px;
    }
    .bottom-step {
        display: block;
        position: relative;
    }
}
.pnlDipToplamTable {
    font-family: $regular;
    font-size: 14px;
    margin: 20px 0;
    th {
        text-align: left;
        font-weight: normal;
        line-height: 40px;
    }
    td {
        text-align: right;
        font-family: $bold;
        .pageSepetToplam_lblSip_NetToplam {
            font-size: 18px;
        }
    }
}
//hediye ceki
.ems-cart-summary-coupon {
    padding: 15px;
    border-top: 1px solid $lines;
    .code-title {
        display: block;
        margin-bottom: 15px;
        text-align: center;
        font-family: $regular;
        font-size: 14px;
        color: $text-2;
        text-decoration: underline;
        cursor: pointer;
    }
    .ems-cart-summary-coupon-body {
        display: none;
        position: relative;
        input {
            width: 100% !important;
            padding-top: 6px !important;
            padding-right: 110px !important;
        }
        table {
            position: absolute;
            right: 3px;
            top: 3px;
            a.btnDefault {
                padding-left: 10px;
                padding-right: 10px;
                min-width: 100px;
            }
        }
        [id$="lblHCK_HATA"] {
            display: block;
            padding: 10px;
            &:empty {
                display: none;
            }
        }
    }
    &.opened {
        margin-bottom: 20px;
        .ems-cart-summary-coupon-body {
            display: block;
        }
    }
}
//siparis ozet alt
.ems-cart-summary-bottom,
.bottom-step {
    > div:not(.ems-none) + div {
        margin-top: 15px;
    }
    a.btnDefault {
        display: block;
        font-size: 18px;
        line-height: 1.25;
        padding-top: 19px;
        padding-bottom: 19px;
        margin-top: 10px;
        &:first-child {
            margin-top: 0;
        }
    }
    [id$="lbfSIP_ONAYLA_DEC"] {
        display: block;
        padding: 15px;
        margin-top: 20px;
        border: 1px dashed $lines;
        font-family: $regular;
        font-size: 14px;
        line-height: 1.4;
        color: $secondary;
    }
}

//yetersiz stok
.pageErrorStokKontrol {
    margin-bottom: 10px;
}
.gridSepetStok {
    table-layout: fixed;
    width: 100%;
    background: $white;
    margin-bottom: 50px;
    th, td {
        padding: 5px;
        border: 1px solid $lines;
        text-align: center;
    }
}

//widgets
.ems-page-cart {
    .widget-appreciate {
        margin-top: 50px;
        margin-bottom: 0;
        .swiper-title {
            text-align: left;
            padding: 20px 0;
        }
        .swiper-inner {
            background: #fff;
            padding: 0;
        }
    }
}

@media screen and (max-width: $breakpoint-large) {
    %singleColFix {//.ems-container fix
        margin-left: -20px;
        margin-right: -20px;
    }

    //siparis sayfalar mobile-large
    .ems-page-cart {
        .page-top-title {
            margin-bottom: 15px;
            padding: 0 $gap1;
        }
    }
    .ems-page-cart-wrapper {
        flex-direction: column;
        > div {
            width: $singleCol;
            @extend %singleColFix;
        }
        .ems-page-cart-colmn-2 {
            max-width: $leftColMobile;
        }
        .ems-page-cart-colmn-3 {
            max-width: $rightColMobile;
        }
    }
    
    //compact order pages mobile-large
    .compact-order-pages {
        .navbar-container {
            height: auto;
        }
        .mobile-header {
            .mbHeader {
                .mBurger,
                .mbSearch,
                .mbCart {
                    display: none !important;
                }
            }
        }
    }

    //siparis adimlar mobile-large
    .tabloTabBtnAdim {
        position: relative;
        left: 0;
        top: 0;
        z-index: auto;
        transform: none;
        max-width: none;
    }

    //bildiri mobile-large
    .notification-wrapper {
        h3 {
            margin-bottom: 10px;
            padding-left: $gap1;
            padding-right: $gap1;
        }
        .notification {
            margin-left: $gap1 / 2;
            margin-right: $gap1 / 2;
        }
    }

    //sepet grid mobile-large
    .ems-grid-cart {
        .ems-grid-row {
            flex-wrap: wrap;
        }
    }
    .cart-cfg,
    .continue-shopping {
        display: none !important;
    }

    //sepet ozet mobile-large
    .ems-cart-summary {
        max-width: $rightColMobile;
        margin-top: 30px;
        padding-left: $gap1;
        padding-right: $gap1;
    }

    //widgets mobile-large
    .ems-page-cart {
        .widget-appreciate {
            display: none !important;
        }
    }
}

@media screen and (max-width: $breakpoint-small) {
    //siparis adimlar mobile small
    .tabloTabBtnAdim {
        padding-top: 10px;
        td {
            > span {
                width: #{100% / 3};
                > a {
                    line-height: 30px;
                    > span {
                        > * {
                            display: block;
                        }
                        > i {
                            margin-right: 0;
                        }
                        &:after {
                            position: absolute;
                            right: -50%;
                            top: 10px;
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}