.ems-page-order-delivery {
    position: relative;
}

//adres yoksa
.empty-order {
    .ems-page-cart-wrapper {
        @extend .flex-wrap;
    }
    .ems-page-new-address {
        margin: 30px auto 0;
        max-width: 500px;
    }
}

//yeni adres & fatura adresi
.address-bottom {
    margin-top: 20px;
    a.btnAdresEkle {
        i {
            font-size: 8px;
            margin-right: 3px;
            vertical-align: 2px;
        }
    }
    .dvFarkliFatAdrSec {
        @extend .flex;
        @extend .flex-middle;
        > input {
            margin-right: 10px;
        }
    }
}

//teslimat tab
.ems-delivery-tabs {
    margin: 30px 0;
    border-top: 1px solid $lines;
    padding-bottom: 30px;
    border-bottom: 1px solid $lines;
    .ems-delivery-tab-header {
        padding: 15px 0;
    }
    .ems-delivery-tab-content {
        position: relative;
    }
}
//kargo
.divTeslimatKargo {
    ul {
        @extend .flex;
        > li {
            position: relative;
            @extend .flex;
            @extend .flex-column;
            @extend .flex-middle;
            background: $white;
            border: 1px solid $lines;
            flex-basis: 140px;
            margin-left: 30px;
            text-align: center;
            padding: 10px;
            font-size: 12px;
            &:first-child {
                margin-left: 0;
            }
            input {
                @include setAbsolute;
                opacity: 0;
                cursor: pointer;
            }
            &.selected {
                border-color: $secondary;
            }
            .kargoAdi {
                margin-bottom: 5px;
            }
            .kargoBilgi {
                display: none;
            }
        }
    }
}

//yeni adres
.add-new-address-body {
    .ems-page-cart-colmn-2 {
        max-width: 580px;
        margin: 0 auto;
    }
}
.ems-page-new-address {
    .page-top-title {
        position: relative;
        text-align: center;
    }
    a.btnAdresIptal {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @extend .btn-reset;
        font-size: 18px;
        > span {
            @extend .flex;
            @extend .flex-middle;
        }
        i {
            font-size: 24px;
            margin-right: 10px;
        }
    }
    .ems-form {
        background: #fff;
        margin: 30px auto 0;
        padding-bottom: 20px;
        .ems-form-inner {
            padding-left: 10px;
            padding-right: 10px;

            .ems-field {
                &:not(.adresTip) {
                    max-width: 280px;
                    margin-left: auto;
                    margin-right: auto;
                }
                &.adresTip {
                    width: auto;
                    margin: 0 -10px;
                    .ems-form-label {
                        display: none;
                    }
                    .ems-form-obj {
                        @extend .flex;
                        > a {
                            flex: 1;
                            text-align: center;
                            padding: 15px 5px;
                            background: $linkBg;
                            &.emos_selected {
                                background: $white;
                                color: $secondary;
                            }
                        }
                    }
                }
                &.not-TC {
                    @extend .flex;
                    @extend .flex-middle;
                    .ems-form-label {
                        position: static;
                        order: 2;
                    }
                    .ems-form-obj {
                        order: 1;
                    }
                }
                a.btnAdresKaydet {
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-large) {
    //teslimat grid mobile-large
    .ems-grid-address {
        .ems-grid-row {
            flex-direction: column;
        }
    }

    //yeni adres & fatura adresi mobile-large
    .address-bottom {
        margin-top: 0;
        flex-direction: column;
        align-items: flex-start;
        > div {
            width: 100%;
            & + div {
                border-top: 1px solid $lines;
            }
        }
        a.btnAdresEkle, .dvFarkliFatAdrSec {
            display: flex;
            padding: 20px !important;
            text-align: left;
        }
    }
    .ems-page-new-address {
        .page-top-title {
            position: relative;
            text-align: center;
        }
        a.btnAdresIptal {
            padding: 0;
            font-size: 14px;
            i {
                font-size: 14px;
            }
            &:hover{
                padding: 0;
            }
        }
    }

    //teslimat tab mobile-large
    .ems-delivery-tabs {
        margin-top: 0;
        margin-bottom: 0;
        .ems-delivery-tab-header {
            padding: $gap1;
        }
        .ems-delivery-tab-content {
            padding: 0 $gap1;
        }
    }

    //kargo mobile-large
    .divTeslimatKargo {
        ul {
            flex-wrap: wrap;
            justify-content: space-between;
            > li {
                flex-basis: 49%;
                margin-left: 0;
                margin-bottom: 10px;
            }
        }
    }
}