.ems-page-order-payment {
    position: relative;
    .page-top-desc {
        display: none;
    }
}

//odeme tipi tab
.ems-cart-pay-tab {
    > ul {
        @extend .flex;
        > li {
            > a {
                display: block;
                padding: 17px 50px;
                color: $primary;
                height: 100%;
                &.emos_selected {
                    background: $white;
                    color: $secondary;
                }
            }
        }
    }
}
//odeme tipleri
.ems-cart-pay-type {
    position: relative;
    background: $white;
    padding: 30px;
    .tableTitleDefault {
        @extend .h5;
        margin-bottom: 20px;
    }
}
//kredi karti
.ems-pay-credit-cart {
    position: relative;
}
.tableOdemeBilgiKrediKarti {
    width: 100%;
    max-width: 340px;
    tr {
        position: relative;
    }
    th {
        position: absolute;
        z-index: 1;
        font-family: $regular;
        font-size: 12px;
        color: $text-2;
        padding: 7px 10px 0 10px;
    }
    td {
        position: relative;
        padding-bottom: 20px;
        input {
            width: 100% !important;
        }
        select {
            width: 48% !important;
            &:first-child {
                margin-right: 4%;
            }
        }
    }
    .tableOdemeBilgiKrediKarti_tdtxtKKARTCVCNO {
        font-size: 0;
    }
    .tableOdemeBilgiKrediKarti_thlbfbtnOdemeTaksit {
        display: none;
    }
    .divtxtKKARTNO {
        .div-cc-carttype {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .cvc-info {
        position: absolute;
        right: 20px;
        top: 15px;
        > i {
            display: block;
            font-size: 10px;
            color: $text-2;
            font-style: normal;
            cursor: pointer;
            width: 16px;
            line-height: 12px;
            text-align: center;
            border: 2px solid;
            border-radius: 100%;
        }
        .desc {
            position: absolute;
            top: -100px;
            left: 32px;
            z-index: 5;
            width: 220px;
            display: none;
            @extend .flex-column;
            @extend .flex-top;
            background: $white;
            padding: 20px;
            border: 1px solid $lines;
            box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.2);
            &:before {
                $border: 6px;
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -$border;
                left: -$border * 2;
                border-width: $border;
                border-style: solid;
                border-color: transparent $white transparent transparent;
            }
            > b {
                font-size: 14px;
            }
            > .k {
                font-family: $regular;
                font-size: 12px;
                color: $text-2;
                margin-top: 4px;
                margin-bottom: 13px;            
            }
        }
        &:hover {
            .desc {
                @extend .flex;
            }
        }
    }
}

/*Master Pass START*/
.masterpassContent,
.masterpass_cardAddedSuccess,
.masterpass_linkCard,
.masterpass_cardList{
    width: 100%;
    max-width: 340px;
}

.masterpassContent {
    padding: 5px 0 20px;
    display: table !important;
    .masterpassKaydet {
        margin-bottom: 25px;
        span {
            font-size: 12px;
            line-height: 16px;
            &.cStyler {
                width: 13px;
                height: 13px;
                border: 1px solid #9e9e9e;
                margin-right: 5px;
                margin-top: -2px;
            }
        }
    }
    .masterPassForms{
        span {
            font-family: $regular;
            font-size: 14px;
        }
        .masterpassLogo {
            max-width: 107px;
            margin-bottom: 15px;
            img {
                max-width: 107px;
            }
        }
        .masterpassAciklama {
            width: 100%;
            br{
                display: none;
            }
        }
    }
    .dvAddCreditCard {
        float: left;
        clear: both;
        margin-top: 20px;
        width: 100%;
    }
    .dvAddCreditCard{
        a {
            min-width: 180px;
        }
        .dvMpCardAliasName {
            margin-bottom: 20px;
            input{
                padding: 6px 10px;
            }
        }
    }
}

.masterpassKaydet{
    .tableOdemeBilgiKrediKarti_masterpassKaydetFl{
        span{
            padding-left: 11px;
            font-family: $regular;
            font-size: 14px;
            color: $text-1;
        }
    }
}

.masterpass_cardAddedSuccess{
    background: $secondary;
    border: 1px solid $secondary-hover;
    padding: 5px 10px;
    border-radius: 5px;
    color: $white;
    font-family: $regular;
    font-size: 14px;
}

.masterpass_linkCard {
    padding: 10px; 
    margin-bottom: 15px;
    h3{
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .masterpassLogo_linkCard{
        display: inline-block;
    }
    span {
        padding-left: 10px;
        font-size: 14px;
        line-height: 18px;
        font-family: $regular;
        &.cStyler {
            width: 13px;
            height: 13px;
            border: 1px solid #9e9e9e;
            margin-right: 5px;
            margin-top: -2px;
        }
        .dvLinkCard {
            padding: 20px;
            background: #f5f5f5;
            border: 1px solid #e0e0e0;
            background: #dcf4e6;
            border: 1px solid #b8e3cb;
        }
    }
}


.masterpass_cardList {
    position: relative;
    margin-bottom: 20px;
    .masterpassLogo{
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 20px;
    }
    .dvCardList{
        .mpCreditCardSet {
            padding: 15px;
            border-top: 1px solid #f0f0f0;
            font-family: $regular;
            input {
                margin-right: 15px;
            }
            span {
                font-family: $regular;
            }
            .deleteCreditCard {
                display: inline-block;
                float: right;
                .lnkDeleteMasterPassCard {
                    display: inline-block;
                    font-size: 0;
                    float: right;
                    &:before {
                        @extend [class^="icon-"];
                        @extend .icon-trash-cut:before;
                        font-size: 15px;
                        color: $text-2;
                        text-indent: 0;
                        display: inline-block;
                        float: right;
                    }
                }
            }
            .dvSavedCardCv2 {
                margin-top: 20px;
            }
        }
        .mpNewCreditCard {
            padding: 15px;
            border-top: 1px solid #f0f0f0;
            input {
                margin-right: 15px;
            }
            span {
                font-family: $regular;
            }
        }
        &:before {
            content: $lbf_KayitliKrediKart;
            font-family: $bold;
            display: inline-block;
            padding: 20px;
            font-size: 15px;
            color: $primary;
        }
        &::after {
            content: '';
            background: url(/images/frontend/masterpass-mini.png) no-repeat;
            width: 42px;
            height: 30px;
            float: right;
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 15px;
        }
    }
}

.popup_masterpassAuth{
    .jconfirm-content-pane{
        min-height: 360px !important;
    }
}

.dvOtpForm{
    display: flex;
    flex-direction: column;
    .masterpassLogo{
        margin-bottom: 20px;
    }

    .mpInfoText{
        margin-bottom: 20px;
        font-family: $regular;
    }

    .masterpassInput{
        padding: 6px 10px !important;
        width: 60%;
    }

    .validateOtp{
        @extend .btn;
        @extend .btn-alternative;
        outline: 0;
        border: 0;
        cursor: pointer;
        margin-top: 20px;
        max-width: 174px;
    }

    .btnResendOtp{
        @extend .btn;
        @extend .btn-secondary;
        outline: 0;
        background: none;
        cursor: pointer;
        margin-top: 20px
    }
    
    .resendCodePlace{
        margin-top: 20px;
        span{
            font-family: $regular;
        }
    }
}
/*Master Pass END*/

//kart gorunumu
.ems-card-wrapper {
    margin-bottom: 30px;
    .jp-card-container {
        margin-left: 0;
        margin-right: 0;
        max-width: 334px;
    }
}

//taksitler
.pageOdemeBilgi_odemeTaksit {
    position: absolute;
    right: 0;
    top: -30px;
    width: 100%;
    max-width: 350px;
    padding: 30px 0 0 30px;
    height: calc(100% + 60px);
    border-left: 1px solid $lines;
    #imgBANKALOGO {
        display: none;
    }
    .tableOdemeTaksit {
        table-layout: fixed;
        width: 100%;
        td {
            padding: 5px;
            vertical-align: top;
            font-family: $regular;
            color: $text-1;
            &:nth-child(1) {
                width: 30px;
            }
        }
        .tableTitleDefault {
            td {
                font-size: 12px;
                color: $text-2;
                font-weight: normal;
            }
        }
    }
}

//havale
.ems-pay-transfer {
    .pageDecOdemeBilgi {
        display: none;
    }
}
.tableOdemeBilgiHavale {
    width: 100%;
    .tableOdemeBilgiHavale_thlbfBNK_AD_HV {
        display: none;
    }
    .tableOdemeBilgiHavale_tddrpBNK_KOD_HV {
        table {
            width: 100%;
            table-layout: fixed;
            border-spacing: 0;
            td {
                border-bottom: 1px solid $lines;
                padding: 25px;
                &.logo {
                    display: table-cell;
                    width: 100px;
                    padding-left: 0;
                    padding-right: 0;
                }
                &.link {
                    text-align: right;
                    a {
                        min-width: 114px;
                        border: 3px solid $primary;
                        color: $primary;
                        background: none;
                        line-height: 1.2;
                        font-size: 12px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        &.emos_selected {
                            border-color: $secondary;
                            background: $secondary;
                            color: $white;
                        }
                    }
                }
                .hesapNo {
                    font-family: $regular;
                    color: $text-1;
                    display: block;
                    margin-top: 5px;                    
                }
            }
        }
    }
}
//diger odeme tipleri
.ems-pay-other {
    [id$="lbfSIP_ODEMENOTU"] {
        display: block;
        margin-bottom: 5px;
        + br {
            display: none;
        }
    }
    textarea {
        width: 100% !important;
        max-width: 360px;
        height: 87px;
    }
}

//odeme tip uyari
.ems-pay-type-desc {
    > span {
        display: block;
        margin: 20px 0;
        padding: 30px;
        background: $white;
        &:empty {
            display: none;
        }
        p {
            margin-top: 10px;
        }
    }
}

//sepetteki urun & secilen adres
.payment-bottom {
    margin-top: 20px;
    margin-bottom: 40px;
    > div {
        flex: 1;
    }
}

.ems-cart-pay-products {
    position: relative;
    margin-right: 20px;
    .ems-grid-cart {
        display: block;
        .ems-grid-row {
            &:last-child {
                border-bottom: none;
            }
        }
        .ems-grid-img {
            flex-basis: 50px;
            padding-left: 0;
        }
        .ems-grid-price-total {
            text-align: right;
            padding-right: 0;
            white-space: nowrap;
        }
        .ems-grid-price,
        .ems-grid-piece,
        .ems-grid-delete {
            display: none;
        }
    }
}

.ems-cart-pay-adress {
    position: relative;
    .ems-selected-address {
        padding: 20px;
        background: #fff;
        border-bottom: 1px solid $lines;
        font-family: $regular;
        &.ems-billing-address {
            border-bottom: none;
        }
        .address-lbl {
            color: $text-1;
            margin-bottom: 5px;
        }
        .address-obj {
            font-size: 12px;
            color: $text-2;
        }
    }
}

//sozlesmeler
.onBilgilendirmeForm,
.siparisOnaySozlesme {
    background: $white;
    margin-top: 20px;
    .tableTitleDefault {
        position: relative;
        padding: 25px;
        cursor: pointer;
        @include user-select(none);
        i {
            $size: 16px;
            font-size: $size;
            position: absolute;
            top: 50%;
            right: 20px;
            margin-top: -$size / 2;
            transition: transform .4s cubic-bezier(0.8, 0, 0.5, 1);
        }
    }
    &.selected {
        .tableTitleDefault {
            i {
                transform: rotate(-180deg);
            }
            & ~ div {
                display: none;
            }
        }
    }
}
.siparisOnaySozlesme {
    margin-bottom: 100px;
}
.onBilgilendirmeFormMetin,
.siparisOnaySozlesmeMetin {
    padding: 0 25px;
    > span {
        height: 150px !important;
        overflow: auto !important;
        padding-right: 20px;
        @extend %scrollbar-green;
    }
}

.pageSiparisOnay_lbfOnBilgilendirmeForm,
.pageSiparisOnay_lbfSatisSozlesme {
    position: relative;
    /*padding: 25px;*/
    u{
        cursor: pointer;
    }
}
.pageSiparisOnay_btnOnBilgilendirmeFormOnizle,
.pageSiparisOnay_btnSatisSozlesmeOnizle {
    @include setAbsolute;
    display: none;
    > table {
        display: table !important;
        width: 100%;
        height: 100%;
        a.btnDefault {
            display: block;
            height: 100%;
        }
    }
}
.pageSiparisOnay_chkOnBilgilendirmeForm,
.pageSiparisOnay_chkSatisSozlesme {
    @extend .flex;
    @extend .flex-middle;
    input {
        position: relative;
        z-index: 7;
        margin-right: 10px;
    }
    u {
        text-decoration: underline;
        text-decoration-skip: ink;
    }
}

//odeme butonu
a.btnSiparisOnay {
    background: $alternative;
}

@media screen and (max-width: $breakpoint-large) {
    //odeme tipi tab
    .ems-cart-pay-tab {
        > ul {
            > li {
                flex: 1;
                > a {
                    padding: 17px 5px;;
                    text-align: center;
                }
            }
        }
    }
    //kredi karti mobile-large
    .tableOdemeBilgiKrediKarti {
        max-width: $maxWidthMobile;
        .cvc-info {
            .desc {
                left: auto;
                right: 32px;
                &:before {
                    left: auto;
                    right: -12px;
                    border-right-color: transparent;
                    border-left-color: #fff;
                }
            }
        }
    }
    //havale mobile-large
    .tableOdemeBilgiHavale {
        .tableOdemeBilgiHavale_tddrpBNK_KOD_HV {
            table {
                td {
                    display: table !important;
                    width: 100%;
                    padding: 5px;
                    &.logo {
                        padding-left: 5px;
                        padding-top: 20px;
                    }
                    &:not(.link) {
                        border-bottom: none;
                    }
                    &.link {
                        text-align: left;
                        padding-bottom: 20px;
                    }
                }
            }            
        }
    }

    //kart gorunumu
    .ems-card-wrapper {
        display: none !important;
    }

    //taksitler mobile-large
    .pageOdemeBilgi_odemeTaksit {
        position: static;
        max-width: $maxWidthMobile;
        border-left: 0;
        padding: 0;
    }

    //sepetteki urun & secilen adres mobile-large
    .payment-bottom {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
        > div + div {
            margin-top: 20px;
        }
        .ems-cart-pay-products {
            margin-right: 0;
        }
    }

    //sozlesmeler mobile-large
    .siparisOnaySozlesme {
        margin-bottom: 0;
    }
    .onBilgilendirmeFormMetin,
    .siparisOnaySozlesmeMetin {
        > span {
            > * {
                transform: scale(.9);
            }
        }
    }



    /*Master Pass START*/
    .masterpassContent {
        padding: 5px 0 20px;
        display: table !important;
        .masterpassKaydet {
            margin-bottom: 25px;
            span {
                font-size: 12px;
                line-height: 16px;
                &.cStyler {
                    width: 13px;
                    height: 13px;
                    border: 1px solid #9e9e9e;
                    margin-right: 5px;
                    margin-top: -2px;
                }
            }
        }
        .masterPassForms{
            span {
                font-family: $regular;
                font-size: 14px;
            }
            .masterpassLogo {
                max-width: 107px;
                margin-bottom: 15px;
                img {
                    max-width: 107px;
                }
            }
            .masterpassAciklama {
                width: 100%;
                br{
                    display: none;
                }
            }
        }
        .dvAddCreditCard {
            float: left;
            clear: both;
            margin-top: 20px;
            width: 100%;
        }
        .dvAddCreditCard{
            a {
                min-width: 180px;
            }
            .dvMpCardAliasName {
                margin-bottom: 20px;
                input{
                    padding: 6px 10px;
                }
            }
        }
    }

    .masterpass_cardList {
        .masterpassLogo{
            margin-top: 20px;
            position: initial;
        }
    }
    .masterpass_cardList {
        position: relative;
        margin-bottom: 20px;
        .masterpassLogo{
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 20px;
        }
        .dvCardList{
            .mpCreditCardSet,
            .mpNewCreditCard {
                padding: 15px 0;
                input{
                    margin-right: 10px;
                }
            }
            &:before {
                padding: 20px 0;
            }
        }
    }
    /*Master Pass END*/
}