.ems-page-order-payment {
    position: relative;
    .page-top-desc {
        display: none;
    }
}

//odeme tipi tab
.ems-cart-pay-tab {
    > ul {
        @extend .flex;
        > li {
            > a {
                display: block;
                padding: 17px 50px;
                color: $primary;
                &.emos_selected {
                    background: $white;
                    color: $secondary;
                }
            }
        }
    }
}
//odeme tipleri
.ems-cart-pay-type {
    background: $white;
    padding: 30px;
    .tableTitleDefault {
        @extend .h5;
        margin-bottom: 20px;
    }
}
//kredi karti
.ems-pay-credit-cart {
    position: relative;
}
.tableOdemeBilgiKrediKarti {
    width: 100%;
    max-width: 340px;
    tr {
        position: relative;
    }
    th {
        position: absolute;
        z-index: 1;
        font-family: $regular;
        font-size: 12px;
        color: $text-2;
        padding: 7px 10px 0 10px;
    }
    td {
        position: relative;
        padding-bottom: 20px;
        input {
            width: 100% !important;
        }
        select {
            width: 48% !important;
            &:first-child {
                margin-right: 4%;
            }
        }
    }
    .tableOdemeBilgiKrediKarti_tdtxtKKARTCVCNO {
        font-size: 0;
    }
    .tableOdemeBilgiKrediKarti_thlbfbtnOdemeTaksit {
        display: none;
    }
    .divtxtKKARTNO {
        .div-cc-carttype {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .cvc-info {
        position: absolute;
        right: 20px;
        top: 15px;
        > i {
            display: block;
            font-size: 20px;
            cursor: pointer;
            transform: rotateY(-180deg);
        }
        .desc {
            position: absolute;
            top: -100px;
            left: 32px;
            z-index: 5;
            width: 220px;
            display: none;
            @extend .flex-column;
            @extend .flex-top;
            background: $white;
            padding: 20px;
            border: 1px solid $lines;
            box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.2);
            &:before {
                $border: 6px;
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -$border;
                left: -$border * 2;
                border-width: $border;
                border-style: solid;
                border-color: transparent $white transparent transparent;
            }
            > b {
                font-size: 14px;
            }
            > .k {
                font-family: $regular;
                font-size: 12px;
                color: $text-2;
                margin-top: 4px;
                margin-bottom: 13px;            
            }
        }
        &:hover {
            .desc {
                @extend .flex;
            }
        }
    }
}
//havale
.ems-pay-transfer {
    .pageDecOdemeBilgi {
        display: none;
    }
}
.tableOdemeBilgiHavale {
    width: 100%;
    .tableOdemeBilgiHavale_thlbfBNK_AD_HV {
        display: none;
    }
    .tableOdemeBilgiHavale_tddrpBNK_KOD_HV {
        table {
            width: 100%;
            table-layout: fixed;
            border-spacing: 0;
            td {
                border-bottom: 1px solid $lines;
                padding: 25px;
                &.logo {
                    display: table-cell;
                    width: 100px;
                    padding-left: 0;
                    padding-right: 0;
                }
                &.link {
                    text-align: right;
                    a {
                        min-width: 114px;
                        border: 3px solid $lines;
                        color: $primary;
                        background: none;
                        line-height: 1.2;
                        font-size: 12px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        &.emos_selected {
                            border-color: $secondary;
                            background: $secondary;
                            color: $white;
                        }
                    }
                }
                .hesapNo {
                    font-family: $regular;
                    color: $text-1;
                    display: block;
                    margin-top: 5px;                    
                }
            }
        }
    }
}
//diger odeme tipleri
.ems-pay-other {
    [id$="lbfSIP_ODEMENOTU"] {
        display: block;
        margin-bottom: 5px;
        + br {
            display: none;
        }
    }
    textarea {
        width: 100% !important;
        max-width: 360px;
        height: 87px;
    }
}

//taksitler
.pageOdemeBilgi_odemeTaksit {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 350px;
    padding: 30px 0 0 30px;
    height: calc(100% + 30px);
    border-left: 1px solid $lines;
    #imgBANKALOGO {
        display: none;
    }
    .tableOdemeTaksit {
        table-layout: fixed;
        width: 100%;
        td {
            padding: 5px;
            vertical-align: top;
            &:nth-child(1) {
                width: 30px;
            }
        }
        .tableTitleOdemeTaksit {
            font-family: $regular;
            font-size: 12px;
            color: $text-1;
            font-weight: normal;
        }
    }
}

//odeme tip uyari
.ems-pay-type-desc {
    > span {
        display: block;
        margin: 20px 0;
        padding: 30px;
        background: $white;
        &:empty {
            display: none;
        }
        p {
            margin-top: 10px;
        }
    }
}

//sepetteki urun & secilen adres
.payment-bottom {
    margin-top: 20px;
    margin-bottom: 40px;
    > div {
        flex: 1;
    }
}

.ems-cart-pay-products {
    position: relative;
    margin-right: 20px;
    .ems-grid-cart {
        display: block;
        .ems-grid-row {
            &:last-child {
                border-bottom: none;
            }
        }
        .ems-grid-img {
            flex-basis: 50px;
            padding-left: 0;
        }
        .ems-grid-price-total {
            text-align: right;
            padding-right: 0;
        }
        .ems-grid-price,
        .ems-grid-piece,
        .ems-grid-delete {
            display: none;
        }
    }
}

.ems-cart-pay-adress {
    position: relative;
    .ems-selected-address {
        padding: 20px;
        background: #fff;
        border-bottom: 1px solid $lines;
        font-family: $regular;
        &.ems-billing-address {
            border-bottom: none;
        }
        .address-lbl {
            color: $text-1;
            margin-bottom: 5px;
        }
        .address-obj {
            font-size: 12px;
            color: $text-2;
        }
    }
}

//sozlesmeler
.onBilgilendirmeForm,
.siparisOnaySozlesme {
    background: $white;
    margin-top: 20px;
    .tableTitleDefault {
        position: relative;
        padding: 25px;
        cursor: pointer;
        @include user-select(none);
        i {
            $size: 16px;
            font-size: $size;
            position: absolute;
            top: 50%;
            right: 20px;
            margin-top: -$size / 2;
            transition: transform .4s cubic-bezier(0.8, 0, 0.5, 1);
        }
    }
    &.selected {
        .tableTitleDefault {
            i {
                transform: rotate(-180deg);
            }
            & ~ div {
                display: none;
            }
        }
    }
}
.siparisOnaySozlesme {
    margin-bottom: 100px;
}
.onBilgilendirmeFormMetin,
.siparisOnaySozlesmeMetin {
    padding: 0 25px;
    > span {
        overflow: auto !important;
        @extend %scrollbar-green;
    }
}

.pageSiparisOnay_lbfOnBilgilendirmeForm,
.pageSiparisOnay_lbfSatisSozlesme {
    position: relative;
    padding: 25px;
}
.pageSiparisOnay_btnOnBilgilendirmeFormOnizle,
.pageSiparisOnay_btnSatisSozlesmeOnizle {
    @include setAbsolute;
    display: none;
    > table {
        display: table !important;
        width: 100%;
        height: 100%;
        a.btnDefault {
            display: block;
            height: 100%;
        }
    }
}
.pageSiparisOnay_chkOnBilgilendirmeForm,
.pageSiparisOnay_chkSatisSozlesme {
    @extend .flex;
    @extend .flex-middle;
    input {
        position: relative;
        z-index: 7;
        margin-right: 10px;
    }
    u {
        text-decoration: underline;
        text-decoration-skip: ink;
    }
}