.list-page-cover-wrp{
    padding-bottom: 35px;
    border-bottom: 1px solid #dde2e7;
    
    
    .prd-cover-holder{
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 0;
        padding-top: 35px;

        .page-title{
            display: block;
            text-align: center;

            font-family: $bold;
            font-size: 36px;
            font-weight: bold;
            line-height: 1.08;
            letter-spacing: -1.2px;
            
            pointer-events: none;
        }
        .search-desc{
            display: block;
            text-align: center;
            
            margin-top: 13px;
            font-family: $demiBold;
            font-weight: 600;
            font-size: 16px;
        }
        img{
            visibility: hidden;
        }

        &:not(.cover){
            .page-title{
                color: $primary;
            }
        }

        &.cover{
            display:flex;
            align-items: center;
            max-height: 320px;
            margin-bottom: -35px;
            &:before{
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.4;
                background-color: #0d2048;
            }
            .prd-cover-contain{
                position: relative;
                z-index: 1;
                width: 100%;
                display: table;
                padding-left: 60px;
                padding-right: 45px;
                text-align: center;
                .seo-desc-wrp{
                    padding-left: 0;
                    padding-top: 15px;
                    padding-right: 0;
                    *{
                        color: $white;
                    }
                }
            }
        }

        
    }

    //Theme
    &.theme-dark{
        .page-title{
            color: $white;
        }
    }

    &.theme-light{
        .page-title{
            color: $primary;
        }
    }

    //seo metni
    .seo-desc-wrp{
        display: none;
        padding-top: 22px;
        padding-left: 60px;
        padding-right: 45px;
        &:not(:empty){
            display: block;
        }
        .ems-cat-description{
            display: flex; 
            flex-wrap: wrap;  
            align-items: flex-end;
            .description{
                max-width: calc(100% - 60px);
                padding-right: 14px;
                overflow: hidden;
                position: relative;
                max-height: 18px;
                transition: all .4s cubic-bezier(0.8,0,0.5,1);
                font-family: $regular;
                font-size: 14px;
                &:after{
                    content: "...";
                    display: inline-block;
                    font-family: $regular;
                    font-size: 12px;
                    color: $text-2;
                    position: absolute;
                    right: 0;
                    bottom: -2px;
                }
            }
            .cat-desc-read-more{
                display: inline-block;
                font-family: $demiBold;
                font-size: 12px;
                font-weight: 600;
                color: $primary;
                margin-left: 5px;
            }
            &.opened{
                .description{
                    max-height: 100%;
                    max-width: 100%;
                    width: 100%;
                    overflow: auto;
                    &:after{
                        content: none;
                    }
                }
                .cat-desc-read-more{
                    display: none;
                }
            }
        }
    }

    // Cat Start
    .categories-wrp{

        .swiper-button-prev,
        .swiper-button-next,
        .swiper-pagination{
            display: none;
        }

        li{
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 15px;
            width: 20%;
        }

        .cat-item{
            position: relative;
            .cat-img{
                overflow: hidden;
                font-size: 0;
                position: relative;
                
                img{
                    max-width: initial;
                    width: calc(100% + 50px);
                    transform: translate3d(-40px,0,0);
                    transition: opacity 0.35s, transform 0.35s;
                }
            }
            .cat-title{
                font-family: $bold;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                color: $primary;
                padding: 14px 15px 15px;
                overflow: hidden;
            }
            .cat-link{
                position: absolute;
                left: 0;
                top: 0;
                z-index: 5;
                width: 100%;
                height: 100%;
                font-size: 0;
            }

            &:hover{
                .cat-img{
                    img{
                        transform: translate3d(0,0,0);
                        transition-duration: 0.35s;
                    }
                }
            }
        }
    }

    &.catShow{
        padding: 0 60px;
        .seo-desc-wrp{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.tableTitleArama{
    display: none;
}

.mobile-prdList-title-holder{
    display: none;
    padding: 24px 20px 23px;
    .breadcrumb-controller{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .page-title{
            font-family: $bold;
            font-size: 20px;
            font-weight: bold;
            color: $primary;
        }
        i{
            &:before{
                @extend [class^="icon-"];
                @extend .icon-plus:before;
                font-size: 16px;
                color: $text-2;
            }
        }
    }
    .breadcrumb-content{
        margin-top: 12px;
        display: none;
    }
}
.ems-nav-opened{
    .mobile-prdList-title-holder{
        background: $linkBg;
        .breadcrumb-controller{
            i{
                &:before{
                    @extend .icon-hyphen:before;
                }
            }
        }
        .breadcrumb-content{
            display: block;
        }
    }
}

@media screen and (max-width: $breakpoint-large){
    .list-page-cover-wrp{
        padding-bottom: 0;
        .prd-cover-holder{
            padding: 0 20px;
            .seo-desc-wrp{
                padding: 0;
                margin-bottom: 15px;
            }
            .page-title{
                display: none;
            }
            .description{
                padding: 0;
            }
        }

        // Cat Start
        .categories-wrp{
            .swiper-inner{
                padding-top: 0;
            }
            li{
                padding-left: 0;
                padding-right: 10px;
                width: 40%;
            }
    
            .cat-item{
                .cat-title{
                    font-family: $demiBold;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 6px 0;
                    width: 100%;
                }
            }
        }
        &.catShow{
            padding: 0 0 0 20px;
            .seo-desc-wrp{
                display: none;
            }
            .system-widget .swiper-inner{
                padding-top: 0;
            }
        }
        &.search{
            padding: 23px 0 26px;
            .page-title{
                display: block;
                font-size: 20px;
                line-height: normal;
                letter-spacing: normal;
            }
            .search-desc{
                font-size: 12px;
            }
        }
    }

    .mobile-prdList-title-holder{
        display: block;
    }


    .ems-nav-opened{
        .list-page-cover-wrp{
            .categories-wrp{
                .swiper-inner{
                    padding-top: 20px;
                }
            }
        }
    }
}