.kutuDefault{
    // Kategoriler
    &.kutuKategori{
        .kutuHeaderDefault{
            margin-bottom: 11px;
            span{
                font-family: $bold;
                font-size: 18px;
                font-weight: bold;
                color: $primary;
                cursor: pointer;
            }
        }
        .kutuBodyDefault{
            display: block;
            margin-bottom: 20px;
            ul{
                display: inline-block;
                width: 100%;
                li{
                    display: block;
                    margin-bottom: 10px;
                    a{
                        display: block;
                        font-family: $regular;
                        font-size: 14px;
                        color: $text-1;
                        + i.filter-count{
                            display: none !important;
                        }
                    }
                    &.s2{
                        margin-left: 10px;
                        margin-bottom: 0;
                        > a {
                            display: none;
                        }
                        &:first-child{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .kutuFooterDefault{
            display: none;
        }
    }

    // Özellik filtre seti
    &.kutuOzellikFiltre{
        .kutuHeaderDefault{
            display: none;
        }
        .kutuBodyDefault{
            [id$="dtParametre"]{
                width: 100%;
            }
            .urunKiyaslamaOzellik_ozellik{
                &#dvUrunKiyaslamaOzellik{
                    display: block;
                    margin-bottom: 34px;
                    &.kapali{
                        margin-bottom: 11px;
                        .urunKiyaslamaOzellik_ozellikAd{
                            margin-bottom: 0;
                        }
                    }
                }
                .urunKiyaslamaOzellik_ozellikAd{
                    display: block;
                    margin-bottom: 22px;
                    font-family: $bold;
                    font-size: 18px;
                    font-weight: bold;
                    color: $primary;
                    cursor: pointer;
                    .mobile-element-filter-span-select{
                        display: none;
                    }
                }

                // filtre font style
                .urunKiyaslamaOzellik_ozellikIcerik{
                    .urunKiyaslamaOzellik_ozellik{
                        a{
                            font-family: $regular;
                            font-size: 14px;
                            color: $text-1;
                        }
                    }
                }
                // Beden filtre tasarım
                &.beden{
                    table{
                        width: 100%;
                        tbody{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            margin-bottom: -19px;
                            tr{
                                margin-right: 18px;
                                margin-bottom: 19px;
                                &:nth-child(3n){
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .urunKiyaslamaOzellik_ozellikIcerik{
                        .urunKiyaslamaOzellik_ozellik{
                            a{
                                width: 50px;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid #dde2e7;
                                position: relative;
                                
                                transition: all .4s cubic-bezier(0.8,0,0.5,1);
                                /*&:hover{
                                    color: $white;
                                    background: $secondary;
                                }*/
                                &.link_selected{
                                    color: $white;
                                    background: $secondary;
                                    border-color: $secondary-hover;
                                }
                                + i.filter-count{
                                    display: none !important;
                                }
                            }
                        }
                    }
                }

                // Renk filtre tasarım
                &.renk{
                    table{
                        width: 100%;
                    }
                    .urunKiyaslamaOzellik_ozellikIcerik{
                        .urunKiyaslamaOzellik_ozellik{
                            a{
                                display: inline-block;
                                margin-top: 2px;
                                margin-bottom: 20px;
                                padding-left: 27px;

                                position: relative;
                                &:before{
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    display: inline-block;
                                    width: 18px; 
                                    height: 18px;
                                    background: $white;
                                    border: 1px solid #dde2e7;
                                    transition: all .4s cubic-bezier(0.8,0,0.5,1);
                                }
                                &.link_selected{
                                    &:before{
                                        background: $secondary;
                                        border: 1px solid $secondary-hover;
                                    }
                                }
                                + i.filter-count{
                                    font-family: $regular;
                                    font-size: 14px;
                                    color: $text-1;
                                    font-style: normal;
                                    margin-left: 6px;
                                }
                            }
                        }
                    }
                    .urunKiyaslamaOzellik_temizle{
                        display: none;
                    }
                }


            }
        }
        .kutuFooterDefault{
            display: none;
        }
    }


    .urunKiyaslamaOzellik_ozellik{
        position: relative;
    }

    //temizle btn
    .urunKiyaslamaOzellik_temizle{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0;
        [id$="lbflnkPrmTemizle"]{
            &:before{
                @extend [class^="icon-"];
                @extend .icon-trash-cut:before;
                display: inline-block;
                font-size: 24px;
            }
        }
    }
}


//Mobile Filter title        
.ems-mobile-filter{
    height: 50px;
    //margin: -20px -20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dde2e7;
    .ems-mobile-filter-btn{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}


@media screen and (max-width: $breakpoint-large){
    .kutuDefault{
        
        // Kategoriler
        &.kutuKategori{
            margin-bottom: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid #dde2e7;
            &.kapali{
                margin-bottom: 20px;
                padding-bottom: 15px;
            }
            .kutuHeaderDefault{
                &.kapali{
                    margin-bottom: 0;
                }
            }
            .kutuBodyDefault{
                margin-bottom: 0;
                ul{
                    li{
                        &.s1{
                            a{
                            }
                        }
                        &.s2{
                            &:first-child{
                            }
                        }
                    }
                }
            }
            .kutuFooterDefault{
            }
        }
    
        // Özellik filtre seti
        &.kutuOzellikFiltre{
            .kutuHeaderDefault{

            }
            .kutuBodyDefault{
                [id$="dtParametre"]{
                }
                .urunKiyaslamaOzellik_ozellik{
                    &#dvUrunKiyaslamaOzellik{
                        &.kapali{
                            .urunKiyaslamaOzellik_ozellikAd{
                            }
                        }
                    }
                    .urunKiyaslamaOzellik_ozellikAd{
                        .mobile-element-filter-span-select{
                        }
                    }
    
                    .urunKiyaslamaOzellik_temizle{
                    }
    
                    // filtre font style
                    .urunKiyaslamaOzellik_ozellikIcerik{
                        .urunKiyaslamaOzellik_ozellik{
                            a{
                            }
                        }
                    }

                    //mob settings
                    &.beden,
                    &.renk{
                        margin-bottom: 25px !important;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #dde2e7;
                        &.kapali{
                            margin-bottom: 20px !important;
                            padding-bottom: 15px;
                        }
                        
                        .urunKiyaslamaOzellik_temizle{
                            &:not(:empty){
                                display: inline-block;
                            }
                        }
                    }

                    // Beden filtre tasarım
                    &.beden{
                        table{
                            tbody{
                                margin-bottom: -5px;
                                tr{
                                    &:nth-child(3n){
                                        margin-right: 18px;
                                        margin-bottom: 19px;
                                    }
                                }
                            }
                        }
                        .urunKiyaslamaOzellik_ozellikIcerik{
                            .urunKiyaslamaOzellik_ozellik{
                                a{
                                    &.link_selected{
                                        border-color: $primary-hover;
                                        background: $primary;
                                    }
                                }
                            }
                        }
                    }
    
                    // Renk filtre tasarım
                    &.renk{
                        table{
                        }
                        .urunKiyaslamaOzellik_ozellikIcerik{
                            .urunKiyaslamaOzellik_ozellik{
                                a{
                                    &:before{
                                    }
                                    &.link_selected{
                                        font-family: $demiBold;
                                        font-size: 14px;
                                        font-weight: 600;
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }
    
    
                }
            }
            .kutuFooterDefault{
                display: flex;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 60px;
                padding: 10px;
                background: $lightBg;
                .urunKiyaslamaOzellik_tumunuTemizle{
                    display: inline-block !important;
                    height: 100%;
                    width: calc(50% - 5px);
                    a{
                        &[id$='lnkPrmTumunuTemizle']{
                            display: inline-block;
                            height: 100%;
                            width: 100%;
                            line-height: 40px;
                            text-align: center;
                            
                            border-radius: 2px;
                            border: 2px solid $primary;
                            > span{
                                display: none;
                            }
                            &:before{
                                content: $lbf_TumunuTemizle;
                                font-family: $demiBold;
                                font-size: 14px;
                                font-weight: 600;
                                color: $primary;
                            }
                            &:hover{
                                background: $primary;
                                &:before{
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                .urunKiyaslamaOzellik_uygula{
                    display: inline-block !important;
                    height: 100%;
                    width: calc(50% - 5px);
                    margin-left: 10px;
                    a{
                        display: inline-block;
                        width: 100%;
                        line-height: 40px;
                        text-align: center;
                        &:before{
                            content: $lbf_Uygula;
                            font-family: $demiBold;
                            font-size: 14px;
                            font-weight: 600;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}