.kutuDefault{
    // Kategoriler
    &.kutuKategori{
        .kutuHeaderDefault{
            margin-bottom: 11px;
            span{
                font-family: $bold;
                font-size: 18px;
                font-weight: bold;
                color: $primary;
                cursor: pointer;
            }
        }
        .kutuBodyDefault{
            display: block;
            margin-bottom: 20px;
            ul{
                display: inline-block;
                width: 100%;
                li{
                    display: block;
                    margin-bottom: 10px;
                    a{
                        display: block;
                        font-family: $regular;
                        font-size: 14px;
                        color: $text-1;
                    }
                    &.s2{
                        margin-left: 10px;
                        margin-bottom: 0;
                        &:first-child{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .kutuFooterDefault{
            display: none;
        }
    }

    // Özellik filtre seti
    &.kutuOzellikFiltre{
        .kutuHeaderDefault{
            display: none;
        }
        .kutuBodyDefault{
            [id$="dtParametre"]{
                width: 100%;
            }
            .urunKiyaslamaOzellik_ozellik{
                &#dvUrunKiyaslamaOzellik{
                    display: block;
                    margin-bottom: 34px;
                    &.kapali{
                        margin-bottom: 11px;
                        .urunKiyaslamaOzellik_ozellikAd{
                            margin-bottom: 0;
                        }
                    }
                }
                .urunKiyaslamaOzellik_ozellikAd{
                    display: block;
                    margin-bottom: 22px;
                    font-family: $bold;
                    font-size: 18px;
                    font-weight: bold;
                    color: $primary;
                    cursor: pointer;
                    .mobile-element-filter-span-select{
                        display: none;
                    }
                }

                // filtre font style
                .urunKiyaslamaOzellik_ozellikIcerik{
                    .urunKiyaslamaOzellik_ozellik{
                        a{
                            font-family: $regular;
                            font-size: 14px;
                            color: $text-1;
                        }
                    }
                }
                // Beden filtre tasarım
                &.beden{
                    table{
                        width: 100%;
                        tbody{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            margin-bottom: -19px;
                            tr{
                                margin-right: 18px;
                                margin-bottom: 19px;
                                &:nth-child(3n){
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .urunKiyaslamaOzellik_ozellikIcerik{
                        .urunKiyaslamaOzellik_ozellik{
                            a{
                                width: 50px;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid #dde2e7;
                                position: relative;
                                
                                transition: all .4s cubic-bezier(0.8,0,0.5,1);
                                /*&:hover{
                                    color: $white;
                                    background: $secondary;
                                }*/
                                &.link_selected{
                                    color: $white;
                                    background: $secondary;
                                    border-color: $secondary-hover;
                                }
                            }
                        }
                    }
                }

                // Renk filtre tasarım
                &.renk{
                    table{
                        width: 100%;
                        tbody{
                            tr{
                                
                            }
                        }
                    }
                    .urunKiyaslamaOzellik_ozellikIcerik{
                        .urunKiyaslamaOzellik_ozellik{
                            a{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                margin-top: 2px;
                                margin-bottom: 20px;

                                position: relative;
                                &:before{
                                    content: "";
                                    display: inline-block;
                                    width: 18px; 
                                    height: 18px;
                                    background: $white;
                                    border: 1px solid #dde2e7;
                                    margin-top: -2px;
                                    margin-right: 9px;
                                    transition: all .4s cubic-bezier(0.8,0,0.5,1);
                                }
                                &.link_selected{
                                    &:before{
                                        background: $secondary;
                                        border: 1px solid $secondary-hover;
                                    }
                                }
                            }
                        }
                    }
                    .urunKiyaslamaOzellik_temizle{
                        display: none;
                    }
                }


            }
        }
        .kutuFooterDefault{
            display: none;
        }
    }


    .urunKiyaslamaOzellik_ozellik{
        position: relative;
    }
    //temizle btn
    .urunKiyaslamaOzellik_temizle{
        display: none;
        [id$="lbflnkPrmTemizle"]{
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 0;
            &:before{
                @extend [class^="icon-"];
                @extend .icon-trash-cut:before;
                display: inline-block;
                font-size: 24px;
            }
        }
    }
}


//Mobile Filter title        
.ems-mobile-filter{
    height: 50px;
    //margin: -20px -20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dde2e7;
    .ems-mobile-filter-btn{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}


@media screen and (max-width: $breakpoint-large){
    .kutuDefault{
        
        // Kategoriler
        &.kutuKategori{
            .kutuHeaderDefault{
                margin-bottom: 11px;
                span{
                    font-family: $bold;
                    font-size: 18px;
                    font-weight: bold;
                    color: $primary;
                    cursor: pointer;
                }
            }
            .kutuBodyDefault{
                display: block;
                margin-bottom: 20px;
                ul{
                    display: inline-block;
                    width: 100%;
                    li{
                        display: block;
                        margin-bottom: 10px;
                        &.s1{
                            a{
                                display: block;
                                font-family: $regular;
                                font-size: 14px;
                                color: $text-1;
                            }
                        }
                        &.s2{
                            margin-left: 10px;
                            margin-bottom: 0;
                            &:first-child{
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
            .kutuFooterDefault{
                display: none;
            }
        }
    
        // Özellik filtre seti
        &.kutuOzellikFiltre{
            .kutuHeaderDefault{
                display: none;
            }
            .kutuBodyDefault{
                [id$="dtParametre"]{
                    width: 100%;
                }
                .urunKiyaslamaOzellik_ozellik{
                    &#dvUrunKiyaslamaOzellik{
                        display: block;
                        margin-bottom: 34px;
                        &.kapali{
                            margin-bottom: 11px;
                            .urunKiyaslamaOzellik_ozellikAd{
                                margin-bottom: 0;
                            }
                        }
                    }
                    .urunKiyaslamaOzellik_ozellikAd{
                        display: block;
                        margin-bottom: 22px;
                        font-family: $bold;
                        font-size: 18px;
                        font-weight: bold;
                        color: $primary;
                        cursor: pointer;
                        .mobile-element-filter-span-select{
                            display: none;
                        }
                    }
    
                    .urunKiyaslamaOzellik_temizle{
                        display: none;
                    }
    
                    // filtre font style
                    .urunKiyaslamaOzellik_ozellikIcerik{
                        .urunKiyaslamaOzellik_ozellik{
                            a{
                                font-family: $regular;
                                font-size: 14px;
                                color: $text-1;
                            }
                        }
                    }
                    // Beden filtre tasarım
                    &.beden{
                        table{
                            width: 100%;
                            tbody{
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: flex-start;
                                margin-bottom: -19px;
                                tr{
                                    margin-right: 18px;
                                    margin-bottom: 19px;
                                    &:nth-child(3n){
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                        .urunKiyaslamaOzellik_ozellikIcerik{
                            .urunKiyaslamaOzellik_ozellik{
                                a{
                                    width: 50px;
                                    height: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border: 1px solid #dde2e7;
                                    position: relative;
                                    
                                    transition: all .4s cubic-bezier(0.8,0,0.5,1);
                                    &.link_selected{
                                        color: $white;
                                        background: $secondary;
                                        border-color: $secondary-hover;
                                    }
                                }
                            }
                        }
                    }
    
                    // Renk filtre tasarım
                    &.renk{
                        margin-bottom: 0 !important;
                        table{
                            width: 100%;
                        }
                        .urunKiyaslamaOzellik_ozellikIcerik{
                            .urunKiyaslamaOzellik_ozellik{
                                a{
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin-top: 2px;
                                    margin-bottom: 20px;
    
                                    position: relative;
                                    &:before{
                                        content: "";
                                        display: inline-block;
                                        width: 18px; 
                                        height: 18px;
                                        background: $white;
                                        border: 1px solid #dde2e7;
                                        margin-top: -2px;
                                        margin-right: 9px;
                                        transition: all .4s cubic-bezier(0.8,0,0.5,1);
                                    }
                                    &.link_selected{
                                        &:before{
                                            background: $secondary;
                                            border: 1px solid $secondary-hover;
                                        }
                                    }
                                }
                            }
                        }
                        .urunKiyaslamaOzellik_temizle{
                            display: none;
                        }
                    }
    
    
                }
            }
            .kutuFooterDefault{
                display: inline-block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 60px;
                background: $lightBg;
            }
        }


        .urunKiyaslamaOzellik_temizle{
            display: inline-block !important;
        }
    }
}