.ems-prd-list{
    ul.emosInfinite{
        max-width: 1555px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 50px;
        margin-right: 50px;
        .ems-prd{
            width: 20%;
            margin-bottom: 40px;
            border: 1px solid $white;
            &:hover{
                border: 1px solid #dde2e7;
            }
        }
        
        /*Ürün arası banner*/
        .ems-prd-alternate{
            width: 40%;
            background-size: 100% auto;
            background-position: center;
            background-repeat: no-repeat;
            padding: 30px;
            display: flex;
            align-content: flex-end;
            flex-wrap: wrap;
            .title{
                width: 100%;
                font-family: $bold;
                font-size: 36px;
                font-weight: bold;
                line-height: 1.22;
                letter-spacing: -1.2px;
                color: $white;
            }
            a{
                margin-top: 10px;
                min-width: 100px;

                font-family: $demiBold;
                font-size: 18px;
                font-weight: 600;
                padding-top: 8px;
                padding-bottom: 7px; 
            }
        }
        /*Ürün arası banner*/

        .ems-prd-inner{
            position: relative;
            overflow: hidden;
            //margin-bottom: 10px;
        }

        .ems-prd-mask{
            position: relative;
        }

        ///
        .ems-prd-discount .urunListe_pnlIndirimOran,
        .ems-prd-status .urunListe_yeniUrun{
            display: flex;
            align-items: center;
            position: absolute;
            top: 10px;
            left: 10px;
            height: 20px;
            border-radius: 2px;
            padding: 0 4px;
        }
        .ems-prd-discount{
            .urunListe_pnlIndirimOran{
                background-color: $alternative;
                z-index: 2;
                display: inline-block !important;
                font-family: $demiBold;
                font-size: 14px;
                font-weight: 600;
                color: $white;
            }
            .ems-prd-promotion{
                display: none;
            }
        }
        .ems-prd-status{
            .urunListe_yeniUrun{
                display: inline-block !important;
                font-family: $demiBold;
                font-size: 14px;
                font-weight: 600;
                color: $primary;
            }
            .waterProof{
                display: flex;
                align-items: center;
                position: absolute;
                top: 10px;
                right: 10px;
                height: 20px;
                padding: 0 4px;

                border: 1px solid $secondary-hover;
                border-radius: 4px;
                &:before{
                    content: "Water-Proof";
                    display: inline-block;
                    font-family: $demiBold;
                    font-size: 14px;
                    font-weight: 600;
                    color: $secondary-hover;
                }
            }
        }

        .ems-prd-image{
            height: 210px;
            a{
                display: block;
                text-align: center;
                height: 100%;
            }
            img{
                max-height: 100%;
            }
        }

        .ems-prd-name{
            display: block;
            a{
                display: block;
                font-family: $regular;
                font-size: 14px;
                text-align: center;
                color: $text-1;
                height: 38px;
                overflow: hidden;
            }
            + .ems-prd-price{
                margin-top: 9px;
            }
        }

        .ems-prd-price{
            display: flex;
            justify-content: center;
            align-items: center;
            .ems-prd-price-selling{
                .urunListe_satisFiyat{
                    font-family: $demiBold;
                    font-size: 18px;
                    font-weight: 600;
                    color: $primary;
                }
            }
            .ems-prd-price-first{
                .urunListe_brutFiyat{
                    font-family: $regular;
                    font-size: 14px;
                    color: $text-2;
                    text-decoration: line-through;
                }
            }
            > span + span{
                margin-left: 10px;
            }
            + .ems-prd-stock{
                margin-top: 8px;
            }
        }

        .ems-prd-stock{
            display: block;
            font-family: $regular;
            font-size: 12px;
            text-align: center;
            color: $text-2;
        }

        .ems-prd-content-bottom{
            padding: 14px 15px 15px;
            height: 125px;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 0;
                background: $white;
                transition: all .4s cubic-bezier(0.8,0,0.5,1);
            }
        }
        .ems-prd:hover{
            .ems-prd-content-bottom{
                &:after{
                    height: 100%;
                    background: $linkBg;
                }
            }
        }

        .ems-prd-group{
            //display: none;
            height: 30px;
            margin-bottom: 10px;
            .swiper-inner{
                > ul{
                    justify-content: center;
                    text-align: center;
                    > li{
                        width: 40px !important;
                        padding: 0 5px;
                        display: inline-block;
                        > a{
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
    
            }
        }

    }
}


@media screen and (max-width: 1500px){
    .ems-prd-list{
        ul.emosInfinite{
            margin-left: 30px;
            margin-right: 30px;
            .ems-prd{
                width: 25%;
                margin-bottom: 40px;
            }
            
            /*Ürün arası banner*/
            .ems-prd-alternate{
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 1268px){
    .ems-prd-list{
        ul.emosInfinite{
            margin-left: 30px;
            margin-right: 30px;
            .ems-prd{
                width: 33.3%;
                margin-bottom: 40px;
            }
            
            /*Ürün arası banner*/
            .ems-prd-alternate{
                width: 66.6%;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-large){
    
    .ems-prd-list{
        ul.emosInfinite{
            margin-bottom: -40px;
            .ems-prd-discount{
                .urunListe_pnlIndirimOran{
                    font-size: 12px;
                }
            }
            
            .ems-prd-status{
                .urunListe_yeniUrun{
                    font-size: 12px;
                }

                .waterProof{
                    top: 126%;
                    right: 50%;
                    padding: 0 3px;
                    transform: translateX(50%);
                    z-index: 200;
                    &:before{
                        font-size: 12px;
                    }
                }
            }
            .urunListe_pnlIndirimOran,
            .ems-prd-status .urunListe_yeniUrun{
                height: 16px !important;
            }
            .ems-prd-image{
                height: 125px;
                padding-top: 10px;
            }
            .ems-prd-content-bottom{
                padding: 14px 10px 15px;
            }
            .ems-prd-price{
                display: flex;
                justify-content: center;
                align-items: center;
                .ems-prd-price-selling{
                    .urunListe_satisFiyat{
                        font-size: 14px;
                    }
                }
                .ems-prd-price-first{
                    .urunListe_brutFiyat{
                        font-size: 12px;
                    }
                }
                > span + span{
                    margin-left: 6px;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-medium){
    .ems-prd-list{
        ul.emosInfinite{
            margin-left: 10px;
            margin-right: 10px;
            .ems-prd{
                width: 50%;
                margin-bottom: 20px;
            }
            
            /*Ürün arası banner*/
            .ems-prd-alternate{
                width: calc(100% + 20px);
                margin-left: -10px;
                margin-right: -10px;
                min-height: 220px;
            }

            .ems-prd-price{
                margin-left: -5px;
                margin-right: -5px;
                .ems-prd-price-selling{
                    .urunListe_satisFiyat{
                        font-size: 13px;
                    }
                }
                .ems-prd-price-first{
                    .urunListe_brutFiyat{
                        font-size: 11px;
                    }
                }
                > span + span{
                    margin-left: 4px;
                }
            }
        }
    }
}

