.ems-prd-list-paging-bottom{
    padding: 30px 60px 55px;
    table{
        tbody{
            tr{
                > td{
                    width: 100% !important;
                    &:nth-child(1),
                    &:nth-child(3){
                        display: none;
                    }
                }
            }
        }
    }

    .urunPaging_pageNavigation{
        display: flex;
        align-items: center;

        [id$="ascPagingDataAlt_lblPaging"]{
            display: flex;
            align-items: center;
            span{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: $primary;
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a{
                color: $primary;                
            }
            > *{
                font-family: $demiBold;
                font-size: 14px;
                font-weight: 600;
                margin-left: 52px;
                &:first-child{
                    margin-left: 0;
                }
            }
        }

        [id$="lnkPrev"]{
            margin-right: 40px;
        }
        [id$="lnkNext"]{
            margin-left: 40px;
        }

        .tumunuGoster{
            display: inline-block !important;
            font-family: $demiBold;
            font-size: 14px;
            font-weight: 600;
            color: $primary;
            margin-left: auto;
        }
    }
}

@media screen and (max-width: $breakpoint-large){
    .ems-prd-list-paging-bottom{
        padding: 30px 30px 55px;
        .urunPaging_pageNavigation{
            max-width: 300px;
            overflow: hidden;

            flex-wrap: wrap;
            [id$="ascPagingDataAlt_lblPaging"]{
            }
            .tumunuGoster{
                margin-top: 24px;
                width: 100%;
            }
        }
    }
}