.ems-page-contact{
    #mesajGonder{
        .page-top-title,
        .page-top-desc {
            display: none;
        }
        .ems-form{
            max-width: 340px;
            .geneltelefon,
            .site_textarea,
            [id$="ascSoruSor_pnlMst"] > select{
                width: 100% !important;
            }
        }
    }
}


.contact-info-holder{
    margin-top: 50px;
    padding-top: 40px;
    border-top:1px solid #dde2e7;
    .ci-row{
        display: flex;
        + .ci-row{
            margin-top: 30px;
        }
        .ci-name{
            width: 20%;
            font-family: $demiBold;
            font-size: 16px;
            font-weight: 600;
            color: $primary;
        }
        .ci-value{
            width: 80%;
            font-family: $regular;
            font-size: 16px;
            color: $text-1;
        }
    }
}


// mesajlarım -> mesaj gonder
.pageMesajGonder{
    .pageHeaderMesaj,
    .page-top-desc{
        display: none;
    }

    .ems-form{
        max-width: 340px;
        .geneltelefon,
        .site_textarea,
        [id$="ascSoruSor_pnlMst"] > select{
            width: 100% !important;
        }
    }
}


@media screen and (max-width: $breakpoint-large){
    .ems-page-contact{
        #mesajGonder{
            .ems-form{
                width: 100%;
                max-width: 100%;
            }
        }
    }
    .pageMesajGonder{
        margin-top: -20px;
        .pageHeaderMesaj,
        .page-top-desc{
            display: none;
        }
    
        .ems-form{
            width: 100%;
            max-width: 100%;
        }
        .btnMesajGonder{
            width: 100%;
        }
    }
}