input, textarea, select{
    outline: 0 !important;
    box-shadow: 0 !important;

    font-family: $regular;
    font-size: 14px;
    color: $text-1;

    width: 100%;
    
    display: inline-block;
    vertical-align: middle;
}

// input
input:not([type="checkbox"]):not([type="radio"]){
    height: 50px;
    padding: 25px 10px 6px;
    background: $linkBg;
    border: 1px solid $linkBg;
    border-radius: 2px;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 0 !important;
}
input::-moz-placeholder { /* Firefox 19+ */
    font-size: 0 !important;
}
input:-ms-input-placeholder { /* IE 10+ */
    font-size: 0 !important;
}
input:-moz-placeholder { /* Firefox 18- */
    font-size: 0 !important;
}

//Textarea 
textarea{
    background: $linkBg;
    border: 1px solid $linkBg;
    border-radius: 2px;
    padding: 25px 10px 10px;
    resize: none;
    overflow: hidden;
}

//select
select{
    background: $linkBg;
    border: 1px solid $linkBg;
    &:not(.ui-datepicker-month):not(.ui-datepicker-year){
        padding: 25px 10px 6px;
    }
}

//styler select
.sStylerWrp_select:not(.member-menu-selecbox){
    background: $linkBg;
    border: 1px solid $linkBg;
    padding: 25px 10px 6px;
    position: relative;
    display: inline-block;

    .sStyler{
        font-family: $regular;
        font-size: 14px;
        color: $text-2;
    }
    
    .sStylerWrp{
        position: relative;
        &:after{
            position: absolute;
            right: 0px;
            top:50%;
            transform: translateY(-50%);
            @extend [class^="icon-"];
            @extend .icon-arrow-bottom:before;
            font-size: 8px;
        }
    }

    select{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100% !important;
    }
}

input[type="checkbox"], input[type="radio"]{
    -webkit-appearance: none;
    border: 1px solid #dde2e7;
    transition: background .2s ease;
}

//Checkbox
input[type="checkbox"]{
    width: 18px;
    height: 18px;
}
input[type="checkbox"]:checked{
    background: $secondary;
    border-color: $secondary-hover;
}

//Radio
input[type="radio"]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
input[type="radio"]:checked{
    background: $secondary;
    border-color: $secondary-hover;
}

[id$="divCaptcha"]{
    display: flex;
    position: relative;
    #imgCaptcha,
    [id$="txtUYE_KONTROLKODU"]{
        width: 50%;
    }

    [id$="lbfUYE_KONTROLKODU"]{
        position: absolute;
        left: calc(50% + 10px);
        top: 6px;
        transform: translateY(0);

        font-family: $regular;
        font-size: 12px;
        color: $text-2;

        transition: all .2s ease-in-out;
        pointer-events: none;
    }
    
    .captchaYenile,
    br{
        display: none;
    }
}


.ems-form{
    .ems-form-inner{
        .ems-field{
            position: relative;
            .ems-form-label{
                font-family: $regular;
                font-size: 12px;
                color: $text-2;

                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;

                transition: all .2s ease-in-out;
                pointer-events: none;
            }
            .ems-form-obj{
                .checkbox{
                    display: inline-block;
                    font-size: 0;
                    float: left;
                    margin-right: 10px;
                    + span{
                        font-family: $regular;
                        font-size: 13px;
                        color: $text-1;
                        a{
                            font-family: $regular;
                            font-size: 13px;
                            color: $text-1;
                            text-decoration: underline;
                            text-decoration-skip: ink;
                        }
                    }
                }
                &.obj-chck{
                    display: flex;
                    input{
                        margin-right: 9px;
                        + span{
                            font-family: $regular;
                            font-size: 14px;
                            text-align: left;
                            color: $text-1;
                        }
                    }
                }
            }
            &.ems-form-err{
                .ems-form-label{
                    color: $error;
                }
                .ems-form-obj{
                    input:not([type="checkbox"]):not([type="radio"]){
                        border: 1px solid $error;
                    }
                }
            }
            a{
                display: inline-block;
            }

            &.select,
            &.is-active{
                .ems-form-label{
                    top:6px;
                    transform: translate(0);
                }
            }

            + .ems-field{
                margin-top: 20px;
            }
        }
    }   
}

//custom dropdown
.ddWrapper {
    .ddTitle {
        position: relative;
        display: block;
        background: $white;
        padding: 22px;
        color: $primary;
        cursor: pointer;
        @include user-select(none);
        i {
            $size: 16px;
            font-size: $size;
            position: absolute;
            top: 50%;
            right: 20px;
            margin-top: -$size / 2;
            transition: transform .4s cubic-bezier(0.8, 0, 0.5, 1);
        }
    }
    .ddContent {
        display: none;
    }
    &.opened {
        .ddTitle {
            i {
                transform: rotate(180deg);
            }
        }
        .ddContent {
            display: block;
        }
    }
}


//Errorr class
.ems-message{
    padding: 6px 0;
    width: 100%;
    border-radius: 2px;

    font-family: $demiBold;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: $white;
    line-height: 1.5;
    &:empty{
        display: none;
    }
    &.ems-message-error{
        background: $error;
    }
    &.ems-message-success{
        background: $secondary;
    }
}