.navbar-container{
    display: flex;

    &.navbar{
        padding: 20px 30px;
        background: $white;
    }

    .navbar-left,
    .navbar-right {
        display: flex;
        align-items: center;
    }
    .navbar-right{
        margin-left: auto;
    }
}

