.jconfirm{
    z-index: 999998 !important;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane {
    margin-bottom: 15px;
    height: auto;
    transition: height .4s ease-in;
    display: inline-block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.minPpIframe{
    position: absolute;
    top: 0;
    left: 0;
}


// DEFAULT POPUP
.popupDefault{
    .popupTitleDefault{
        font-family: $bold;
        font-size: 24px;
        font-weight: bold;
        color: $primary;
        text-align: left;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dde2e7;
    }
    .tableDefault{
        width: 100%;
        input:not([type="checkbox"]):not([type="radio"]){
            height: 40px;
            padding: 6px 10px;
        }
    }
}


// UYE GİRİS POPUP
.popupUyeGiris{
    .tableUyeGiris{
        width: 80%;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    tbody{
        > tr{
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            margin-top: 15px;
            > th{
                width: 100px;
                text-align: left;
                font-size: 13px;
                font-weight: normal;
            }
            > td{
                width: 100%;
                &:empty{
                    display: none;
                }
            }
            &:nth-child(1),
            &:nth-child(2){
                th{
                    line-height: 25px;
                }
            }
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(6){
                display: none;
            }
            &:first-child {
                margin-top: 0;
            }
            &:last-child{
                flex-direction: column-reverse;
            }

            
        }
    }

    [id$="lbfUYE_EMAIL"],
    [id$="lbfUYE_SIFRE"]{
        font-family: $regular;
        font-weight: 400;
        font-size: 14px;
    }

    .popupUyeGiris_btnPopupLogin{
        width: 100%;
        > table,
        > table > tbody{
            display: table !important;
            width: 100%;
            >tr > th {
                display: table;
                width: 100%;
            }
        }
        .btnPopupLogin{
            width: 100%;
            line-height: initial;
            @extend .btn-alternative;
            font-size: 15px;
        }
    }

    .popupUyeGiris_lnkSifremiUnuttum{
        text-align: center;
        #lnkSifremiUnuttum{
            font-family: $regular;
            font-weight: 400;
            text-decoration: underline;
            text-decoration-skip: ink;
        }
    }

    .popupUyeGiris_lnkUyeOlmak{
        margin-top: 15px;
        #lnkUyeOlmak{
            width: 100%;
        }
        .lnkUyeOlmak{
            @extend .btn;
            @extend .btn-secondary;
            width: 100%;
            font-size: 15px;
        }
    }
}

.popupFiyatHaberci_urunKod,
.popupFiyatHaberci_urunAd,
.popupFiyatHaberci_mesaj,
.popupFiyatHaberci_aciklama{
    font-family: $regular;
    font-weight: 400;
    font-size: 14px;
}