.system-widget{
    &.no-result{
        display: none;
    }

    .swiper-title{
        text-align: center;
    }

    .swiper-inner{
        padding-top: 20px;
    }

    .swiper-slide{
        width: calc(25% - 1px);
        padding: 20px 0 0;
        margin-bottom: 50px;
        border: solid 1px $white;
        transition: all 0.4s cubic-bezier(0.8, 0, 0.5, 1);
        &:hover{
            border: solid 1px #dde2e7;
        }
    }

    .ems-prd-mask{
        position: relative;
    }
    .ems-prd-discount{
        width: 200px;
        margin: 0 auto;
        position: relative;
        .urunListe_pnlIndirimOran{
            display: inline-block !important;

            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-20%,-50%);
            z-index: 2;

            background: #2fa3ff;
            padding: 0 5px;
            font-family: $demiBold;
            font-size: 14px;
            font-weight: 600;
            color: #ffffff;
        }
    }

    .ems-prd-status{
        width: 200px;
        margin: 0 auto;
        position: relative;
        .urunListe_yeniUrun{
            display: inline-block !important;

            font-family: $demiBold;
            font-size: 14px;
            font-weight: 600;
            color: $primary;

            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-20%,-50%);
            z-index: 1;
        }
    }

    .ems-prd-image{
        margin-bottom: 15px;
        > a{
            display: block;
            text-align: center;
            font-size: 0;
        }
    }

    .ems-prd-name{
        margin-bottom: 9px;

        font-family: $regular;
        font-size: 14px;
        text-align: center;
        color: #3f444d;
        a{
            display: inline-block;
            width: 100%;
            height: 38px;
        }
    }

    .ems-prd-price{
        text-align: center;
        margin-bottom: 9px !important; 
        span{
            display: inline-block;
        }
        .urunListe_satisFiyat{
            font-family: $demiBold;
            font-size: 18px;
            font-weight: 600;
            color: $primary;
            margin-right: 10px;
        }
        .urunListe_brutFiyat{
            font-family: $regular;
            font-size: 14px;
            color: #8d9098;
            position: relative;
            &::before{
                content: "";
                display: inline-block;
                width: 100%;
                height: 1px;
                background: #8d9098;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    
    .ems-prd-stock{
        /*margin-bottom: 25px;*/
        height: 16px;
        .urunListe_urunStokUyari{
            text-align: center;

            font-family: $regular;
            font-size: 12px;
            text-align: center;
            color: #8d9098;
        }
    }

    .ems-prd-content-bottom{
        padding: 14px 15px 15px;
        height: 125px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            background: #fff;
            transition: all 0.4s cubic-bezier(0.8, 0, 0.5, 1);
        }
    }

    .swiper-slide{
        &:hover{
            .ems-prd-content-bottom{
                &:after{
                    height: 100%;
                    background: #eef3f8;
                }
            }
        }
    }
    
}