.ems-prd-detail-bottom{
    padding-top: 54px;
}

.ems-tab-detail{
    max-width: 1220px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    .ems-tab-inner{
        width: calc(100% - 511px);
        .navigation-js{
            border: 2px solid #0d2048;
            display: flex;
            li{
                flex: 1;
                text-align: center;
                border-left: 2px solid #0d2048;
                &:first-child{
                    border-left: none;
                    &.selected{
                        border-left: 2px solid #0d2048;
                    }
                }
                a{
                    display: block;
                    font-family: $demiBold;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                    color: #0c2048;
                    padding: 16px 0 14px;
                }
                &.selected{
                    background: #0d2048;
                    a{
                        color: #fff;
                    }
                }
            }
        }

        .content-js{
            min-height: 180px;
            .title{
                display: none;
            }
            
            > li{
                display: none;
                &.selected{
                    display: block;
                }
            }

            li{
                &[rel="tab-product-info"]{
                    .content-detail{
                        display: inline-block;
                        width: 100%;
                        margin-top: 54px;
                        margin-bottom: 20px;
                    }
                }
                &[rel="tab-payment"]{
                    .content-detail{
                        display: inline-block;
                        width: 100%;
                        margin-top: 54px;
                        margin-bottom: 20px;
                        &:empty{
                            + .popupTaksit{
                                margin-top: -40px;
                            }
                        }
                    }
                    .payment-info__detail{
                        display: flex;
                        border: 1px solid #dde2e7;
                        margin-bottom: 20px;
                        background: $linkBg;
                        .row{
                            width: 33.3%;
                            padding: 10px;
                            display: flex;
                            flex-wrap: wrap;
                            border-right: 1px solid #dde2e7;
                            &:last-child{
                                border-right: 0px solid #dde2e7;
                            }
                            .header{
                                width: 100%;
                                font-size: 14px;
                                font-family: $demiBold;
                                color: $primary;
                                margin-bottom: 5px;
                            }
                            .price{
                                width: 100%;
                                font-size: 14px;
                                font-family: $regular;
                                color: $text-1;
                            }
                        }
                        + div{
                            font-size: 14px;
                            font-family: $regular;
                            color: $text-1;
                        }
                    }
                }
            }

            .type-1{
                .images{
                    display: none;
                }
                .text{
                    > h2{
                        display: none;
                    }
                    .mt-tittle{
                        display: block;
                        font-family: $bold;
                        font-size: 18px;
                        font-weight: bold;
                        color: #0c2048;
                        margin-bottom: 7px;
                    }
                    .mt-text{
                        font-family: $regular;
                        font-size: 16px;
                        color: #3f444d;
                    }
                }
            }

            .ems-prd-delivery-desc{
                margin-top: 36px;
                padding-bottom: 30px;
                font-family: $regular;
                font-size: 16px;
                line-height: 1.81;
                color: #3f444d;
            }

            
            .popupTitleTaksit{
                font-family: $bold;
                font-size: 18px;
                font-weight: bold;
                color: $primary;
                margin-bottom: 18px;
                border-bottom: 0px solid #fff;
            }
            .popupTaksit_lbfAciklama{
                margin-bottom: 50px;
                *{
                    font-family: $regular;
                    font-size: 16px;
                    line-height: 1.81;
                    color: #3f444d;
                }
            }

            //Table
            .gridTaksitBanka{
                width: 100%;
                > tbody{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-left: -15px;
                    margin-right: -15px;
                    > tr{
                        width: calc(50% - 30px);
                        margin-right: 15px;
                        margin-left: 15px;
                    }
                }
            }
            .gridRowTaksitBanka{
                display: flex;
                width: 100%;
                .taksit_banka{
                    display: block;
                    height: 45px;

                    font-size: 0;
                    text-align: left;
                }
            }
            .gridTaksitSecenek{
                margin-bottom: 43px;
                border: 1px solid #dde2e7;
                .gridHeaderTaksitSecenek{
                    background: #eef3f8;
                    height: 49px;
                    font-family: $demiBold;
                    font-size: 12px;
                    font-weight: 600;
                    text-align: center;
                    color: $primary;
                }
                .gridRowTaksitSecenek,
                .gridAlternateTaksitSecenek{
                    border-top: 1px solid #dde2e7;
                    font-family: $regular;
                    font-size: 14px;
                    text-align: center;
                    color: #3f444d;
                    > td{
                        width: 33.333% !important;
                        line-height: 1;
                        padding: 11px 0 10px;
                        border-left: 1px solid #dde2e7;
                        &:first-child{
                            border-left: 0;
                        }
                    }
                }
            }
            // Table End
        }

    }
}



.ems-prd-additional-info{
    background-color: $white;
    padding-top: 110px;
    padding-bottom: 87px;
}


.ems-prd-detail-cover-wrp{
    font-size: 0;
}


.thecnology-holder{
    display: none;
    &:not(:empty){
        display: flex;
        flex-wrap: wrap;
        padding: 0 90px;
        margin: 70px -10px 60px;
    }
    .thecnology-item{
        width: calc(50% - 20px);
        max-width: 437px;
        margin: 35px 41.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img{
            width: 100px;
            img{
                width: 100%;
            }
        }
        .info{
            width: calc(100% - 120px);
            .title{
                display: block;
                margin-bottom: 6px;
                font-family: $bold;
                font-size: 18px;
                font-weight: bold;
                color: $primary;
            }
            .desc{
                font-family: $regular;
                font-size: 16px;
                line-height: 1.81;
                color: #3f444d;
            }
        }
    }
}


@media screen and (max-width: $breakpoint-large){

    .ems-prd-detail-bottom{
        padding-top: 25px;
    }
    
    .ems-tab-detail{
        padding: 0;
        background: $white;
        display: inline-block;
        .ems-tab-inner{
            width: 100%;
            .navigation-js{
                margin: 0 -2px;
                li{
                    &:first-child{
                        &.selected{
                            border-left: none;
                        }
                    }
                    a{
                        font-size: 14px;
                        padding: 19px 0 17px;
                    }
                }
            }
    
            .content-js{
                min-height: auto;
                padding: 30px 20px;
                .title{
                    display: none;
                }
                
                > li{
                    display: none;
                    &.selected{
                        display: block;
                    }
                }
    
                li{
                    &[rel="tab-product-info"],
                    &[rel="tab-payment"]{
                        .content-detail{
                            margin-top: 0;
                            margin-bottom: 0px;
                        }
                    }
                }
    
                .type-1{
                    .images{
                        display: none;
                    }
                    .text{
                        > h2{
                            display: none;
                        }
                        .mt-tittle{
                            font-size: 18px;
                            margin-bottom: 7px;
                        }
                        .mt-text{
                            font-size: 14px;
                        }
                    }
                }
    
                .ems-prd-delivery-desc{
                    margin-top: 0;
                    padding-bottom: 0;
                    font-size: 14px;
                }
    
                
                .popupTitleTaksit{
                    font-size: 18px;
                    margin-bottom: 6px;
                }
                .popupTaksit_lbfAciklama{
                    margin-bottom: 40px;
                    *{
                        font-size: 14px;
                        line-height: 2;
                    }
                }
    
                //Table
                .gridTaksitBanka{
                    width: 100%;
                    > tbody{
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                        > tr{
                            width: 100%;
                            margin-right: 0;
                            margin-left: 0;
                        }
                    }
                }
                // Table End
            }
    
        }
    }

    .ems-prd-additional-info{
        padding-top: 0px;
        padding-bottom: 0;
    }    
    
    .ems-prd-detail-cover-wrp{
        margin: 0 -20px;
    }

    .ems-technology-wrp{
        //display: none
    }

    .thecnology-holder{
        &:not(:empty){
            padding: 0;
            margin: 0;
        }
        .thecnology-item{
            width: 100%;
            margin: 32px auto;
            flex-wrap: wrap;
            text-align: center;
            .img{
                width: 100%;
                margin-bottom: 10px;
                img{
                    width: auto;
                }
            }
            .info{
                width: 100%;
                .title{
                    margin-bottom: 6px;
                }
                .desc{
                    font-size: 14px;
                    line-height: 1;
                }
            }
        }
    }

    .ems-tab-detail{
        .ems-tab-inner{
    
            .content-js{
                li{
                    &[rel="tab-payment"]{
                        .content-detail{
                            &:empty{
                                + .popupTaksit{
                                    margin-top: -30px;
                                }
                            }
                        }
                        .payment-info__detail{
                            flex-wrap: wrap;
                            .row{
                                width: 100%;
                                border-right: 0px solid #dde2e7;
                                border-bottom: 1px solid #dde2e7;
                                &:last-child{
                                    border-bottom: 0px solid #dde2e7;
                                } 
                            }
                        }
                    }
                }
            }
    
        }
    }
    
}