.ems-prd-detail-inner {
    .ems-prd{
        .ems-prd-product-code{
            height: 43px;
            position: absolute;
            top: -43px;
            right: 0;

            display: flex;
            align-items: center;
            font-family: $regular;
            font-weight: 400;
            font-size: 12px;
            text-align: right;
            color: #3f444d;
            > span:first-child{
                margin-right: 3px;
            }
        }

        .ems-prd-info{
            display: inline-block;
            width: 100%;
            > div{
                display: inline-block;
                margin-right: 10px;
                &:last-child{
                    margin-right: 0;
                }
            }
            .ems-prm-cargo-info,
            .ems-prm-stock-info{
                > span:not(empty){
                    display: inline-block;
                    border-radius: 2px;
                    background-color: #26d5df;
                    padding: 0 8px 0 9px;
                    font-family: $demiBold;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                    color: #ffffff;
                    margin-bottom: 14px;
                }
            }
            .ems-prm-cargo-free{
                display: none;
                margin-right: 0;
            }
        }

        .ems-prd-name-wrapper{
            font-family: $bold;
            font-size: 36px;
            font-weight: bold;
            line-height: 1.08;
            letter-spacing: -1.2px;
            color: #0c2048;
            margin-bottom: 25px;
        }

        .ems-prd-price{
            margin-bottom: 35px;
            .ems-prd-price-left{
                display: flex;
                align-items: center;
                
            }

            
            .ems-prd-price-selling{
                font-family: $bold;
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                color: #0d2048;
                [id$="lbfURN_KDVDAHILSATIS"]{
                    display: none;
                }
            }

            .ems-prd-price-first{
                font-family: $regular;
                font-size: 18px;
                color: #8d9098;
                position: relative;
                &:before{
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 1px;
                    background: #8d9098;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                [id$="lbfURN_KDVDAHILSATISILK"]{
                    display: none;
                }
            }

            .ems-prd-price-taksit{
                font-family: $regular;
                font-size: 12px;
                color: #8d9098;
                text-decoration: underline;
                text-decoration-skip: ink;
            }

            .ems-prd-discount-percent{
                display: inline-block;
                margin-left: auto;
                span{
                    font-family: $demiBold;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                    color: #ffffff;
                    border-radius: 2px;
                    background-color: #2fa3ff;
                    padding: 0 5px;
                }
            }
        }

        .ems-prd-group{
            margin-bottom: 20px;
            .sStylerMainWrp,
            .dropdown{
                display: none;
            }
            ul{
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: flex;
                flex-wrap: wrap;
                transition-property: transform;
                box-sizing: content-box;
                li{
                    flex-shrink: 0;
                    .URN_RESIM{
                        cursor: pointer;
                        margin: 0 10px 10px 0;
                        position: relative;
                        overflow: hidden;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        width: 60px;
                        height: 60px;
                        border-radius: 2px;
                        border: 1px solid #dcdcdc;
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            left: 0;
                            height: 3px;
                            display: inline-block;
                            background: $secondary;
                            transform: translateY(5px);
                            transition: transform 0.2s ease-in-out;
                        }
                    }
                    .URN_AD,
                    .prdName,
                    .salesPrice,
                    .urunGrup_urunTipi,
                    .BRM_SPR_AD{
                        display: none;
                    }
                    &:hover{
                        .URN_RESIM{
                            &:after{
                                transform: translateY(0);
                            }
                        }
                    }
                    &.selected{
                        .URN_RESIM{
                            border: 1px solid #979797;
                        }
                    }
                } 
            }
        }

        .ems-prd-body-and-cart{
            display: flex;
            align-items: flex-start;
            position: relative;
        }

        .ems-prd-flex-controller{
            .ems-prd-size{
                .sStylerMainWrp{
                    display: none;
                }
                .urunDetay_urunSecenek1{
                    .urunSecenek_baslik1{
                        display: none;
                    }
                    
                    .select-txt{
                        .desktop{
                            display: inline-block;
                        }
                        .mobi{
                            display: none;
                        }
                    }
                    .dropdown-trigger{
                        > span{
                            display: inline-block;
                            border-radius: 2px;
                            background-color: #eef3f8;
                            width: 55px;
                            height: 55px;
                            padding: 5px;
                            font-family: $demiBold;
                            font-size: 18px;
                            font-weight: 600;
                            text-align: center;
                            color: #0c2048;
                            position: relative;
                            cursor: pointer;
                            &:before{
                                content: $lbf_BedenTxt;
                                display: block;
                                font-family: $regular;
                                font-size: 14px;
                                font-weight: 400;
                                color: #3f444d;
                                line-height: 19px;
                            }
                            &:after{
                                content: "";
                                display: none;
                                width: 100%;
                                height: 10px;
                                background: #eef3f8;
                                position: absolute;
                                top: 100%;
                                left: 0;
                            }
                        }
                    }
                    .dropdown-options{
                        position: absolute;
                        //top: calc(100% + 10px);
                        left: 0;
                        z-index: 1;
                        margin-top: 10px;
                        width: 370px;
                        background-color: #eef3f8;
                        padding: 13px 15px 15px;
                        display: none;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        a{
                            display: inline-block;
                            background: $white;
                            border-radius: 2px;
                            border: 1px solid $white;
                            padding: 0 5px;
                            margin: 5px;
                            min-width: 58px;
                            line-height: 35px;

                            font-family: $demiBold;
                            font-size: 14px;
                            font-weight: 600;
                            text-align: center;
                            color: $primary;

                            float: left;

                            &:hover{
                                border: 1px solid $primary;
                            }
                            &.selectedOption{
                                background: $primary;
                                border: 1px solid $primary;
                                color: $white;
                            }
                            &.stokYok{
                                background: #dde2e7;
                                color: #8d9098;
                                font-family: $regular;
                                font-weight: 400;
                            }
                        }
                    }
                    &.opened{
                        .dropdown-trigger{
                            > span{
                                border-radius: 2px 2px 0 0;
                                &:after{
                                    display: inline-block;
                                }
                            }
                        }
                        .dropdown-options{
                            display: flex;
                        }
                    }
                }
                
            }
        }

        .ems-prd-add-to-cart{
            flex: 1;
            .urunDetay_urunAdet{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 55px;
                height: 55px;
                padding: 6px;
                border-radius: 2px;
                background: #eef3f8;
                text-align: center;
                @include user-select(none);
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }
                .counter-drp{
                    display: none;
                }
                [id$="lblURN_ADET"]{
                    order: 1;
                    font-family: $regular;
                    font-size: 14px;
                    text-align: left;
                    color: #3f444d;
                }
                input{
                    order: 2;
                    width: 100%;
                    text-align: center;
                    background: #eef3f8;
                    font-family: $demiBold;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                    color: $primary;
                    padding: 0;
                }
                .counter-btn{
                    font-size: 0;
                    position: absolute;
                    bottom:12px;
                    z-index: 5;         
                        &:before{
                            @extend [class^="icon-"];
                            font-size: 9px;
                            color: #8d9098;
                        }
                    &.bottom-btn{
                        left: 5px;
                        &:before{
                            @extend .icon-hyphen:before;
                        }
                    }
                    &.top-btn{
                        right: 5px;
                        &:before{
                            @extend .icon-plus:before;
                        }
                    }
                }
            }
            .pnlSepetGrup{
                width: 100%;
                clear: both;
                div{
                    margin-left: 10px;
                    float: left;
                }
                .urunDetay_btnSepeteAt{
                    width: calc(100% - 75px) !important;
                    *{
                        width: 100%;
                        display: block;
                    }
                }
                .btnsepeteAt{
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $demiBold;
                    font-size: 18px;
                    font-weight: 600;
                    color: #ffffff;
                    @extend .btn;
                    @extend .btn-primary;
                }
            }
            .ems-prd-stock-notice{
                width: 100%;
                margin-left: 10px;
                *{
                    width: 100%;
                    display: block;
                }
                .btnStokHaberci{
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: $demiBold;
                    font-size: 18px;
                    font-weight: 600;
                    color: #ffffff;
                    @extend .btn;
                    @extend .btn-alternative;
                }
            }
        }

        .ems-prd-price-and-fav{
            margin-top: 24px;
            display: flex;
            justify-content: space-evenly;
            
            .ems-prd-size-chart{
                > a{
                    display: inline-block;
                    max-width: 100px;
                    text-align: center;
                    outline: 0;
                    i{
                        color: $primary;
                        display: block;
                        text-align: center;
                        margin-bottom: 4px;
                        font-size: 0;
                        &:before{
                            font-size: 24px;
                        }
                    }
                    span{
                        font-family: $regular;
                        font-size: 14px;
                        color: #3f444d;
                    }
                }
            }
            .ems-prd-give-me-discount,
            .ems-prd-add-to-cart-favorites{
                > a{
                    display: inline-block;
                    max-width: 100px;
                    text-align: center;
                    > span{
                        i{
                            color: $primary;
                            display: block;
                            text-align: center;
                            margin-bottom: 4px;
                            font-size: 0;
                            &:before{
                                font-size: 24px;
                            }
                        }
                        span{
                            font-family: $regular;
                            font-size: 14px;
                            color: #3f444d;
                        }
                    }
                }
            }
            .ems-prd-give-me-discount{
                .btnFiyatDus{
                    
                }
            }
            .ems-prd-add-to-cart-favorites{
                .btnFavoriEkle{
                    &.selected{
                        i{
                            color: $secondary;
                            + span{
                                font-size: 0;
                                &:before{
                                    content: $lbf_ListeyeEklendiTxt;
                                    font-family: $demiBold;
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.spr1{
    .ems-prm-cargo-free{
        display: inline-block !important;
        border-radius: 2px;
        background-color: #26d5df;
        padding: 0 8px 0 9px;
        font-family: $demiBold;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        margin-bottom: 14px;
        margin-right: 10px;
        &:before{
            content: $kargoBedava;
        }
    }
}


@media screen and (max-width: $breakpoint-large){

    .ems-prd-detail-inner {
        .ems-prd{
            .ems-prd-product-code{
                display: none;
            }
    
            .ems-prd-info{
                > div{
                    margin-right: 10px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
    
            .ems-prd-name-wrapper{
                line-height: 1;
                letter-spacing: 1px;
                margin-bottom: 20px;

                font-size: 18px;
                text-align: center;
            }
    
            .ems-prd-price{
                margin-bottom: 0;
                .ems-prd-price-left{
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 35%;
                    height: 50px;
                    background: $white;
                    z-index: 10;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 6px 3px;
                }
                .ems-prd-price-right{
                    display: none;
                }
                
                .ems-prd-price-selling{
                    font-size: 18px;
                    order: 2;
                }
    
                .ems-prd-price-first{
                    font-size: 12px;
                    order: 1;
                }
    
                .ems-prd-discount-percent{
                    display: none;
                }
            }

            .ems-prd-add-to-cart{
                width: 50%;
                padding-left: 5px;
                .urunDetay_urunAdet{
                    width: 100%;
                    
                    &:before{
                        content: none;
                    }
                    .counter-drp{
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        > span{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            padding: 6px;
                            line-height: 1;

                            font-family: $demiBold;
                            font-size: 16px;
                            font-weight: 600;
                            color: $primary;
                            &:before{
                                content: $lbf_Adet;
                                display: block;
                                width: 100%;
                                text-align: center;

                                font-family: $regular;
                                font-weight: 400;
                                font-size: 14px;
                                color: #3f444d;
                            }
                        }
                        ul{
                            position: fixed;
                            background: $white;
                            border-top: 1px solid #dde2e7;
                            box-shadow: 0px 0px 40px 5px #828282;
                            z-index: 9;
                            width: 100%;
                            bottom: 50px;
                            left: 0;
                            max-height: 0;
                            visibility: hidden;
                            overflow: auto;
                            transition: all 0.4s cubic-bezier(0.8, 0, 0.5, 1);
                            li{
                                padding: 10px 0;
                                border-top: 1px solid #dde2e7;
                                a{
                                    font-family: $demiBold;
                                    font-size: 16px;
                                    font-weight: 600;
                                    color: $primary;
                                }
                                &:first-child{
                                    border-width: 0;
                                }
                            }
                        }
                        &.opened{
                            ul{
                                max-height: 49vh;
                                visibility: visible;
                            }
                        }
                    }
                    [id$="lblURN_ADET"],
                    input,
                    .counter-btn{
                        display: none;
                    }
                }
                .pnlSepetGrup{
                    width: 100%;
                    clear: both;
                    div{
                        margin-left: 0;
                        float: left;
                    }
                    .urunDetay_btnSepeteAt{
                        position: fixed;
                        right: 0;
                        bottom: 0;
                        width: 65% !important;
                        height: 50px;
                        z-index: 10;
                        background: $white;
                        *{
                            width: 100%;
                            
                        }
                    }
                    .btnsepeteAt{
                        min-width: auto;
                        border-radius: 0;
                        font-size: 16px;
                        height: 50px;
                    }
                }
                .ems-prd-stock-notice{
                    margin-left: 0;
                    .btnStokHaberci{
                        position: fixed;
                        right: 0;
                        bottom: 0;
                        width: 65% !important;
                        height: 50px;
                        z-index: 10;

                        font-size: 16px;
                        border-radius: 0;
                    }
                }
            }
    

            .ems-prd-group{
                text-align: left;
                .listeUrunDetayGrup_listeBaslik{
                    display: inline-block;
                    margin-bottom: 7px;
                    font-family: $regular;
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                    color: #3f444d;
                }
            }
    
            .ems-prd-body-and-cart{
                display: flex;
                align-items: flex-start;
                position: relative;
            }
    
            .ems-prd-flex-controller{
                width: 50%;
                padding-right: 5px;
                .ems-prd-size-chart{
                    display: none;
                }
                .ems-prd-size{
                    .urunDetay_urunSecenek1{    
                        .select-txt{
                            .desktop{
                                display: none;
                            }
                            .mobi{
                                display: inline-block;
                            }
                        }
                        .dropdown-trigger{
                            > span{
                                width: 100%;
                                font-size: 16px;
                                padding: 7px;
                            }
                        }
                        .dropdown-options{
                            left: -20px;
                            width: calc(100% + 40px);
                            padding: 13px 15px 15px;
                            a{
                                min-width: 47px;
                            }
                        }
                    }
                    
                }
            }
    
            .ems-prd-price-and-fav{
                margin-top: 29px;
            }
        }
    }
    

}