.ems-container-small {
    width: 100%;
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.ems-product-detail{
    background-image: linear-gradient(251deg, #e1e3e8, #f6f9fb);
}

.ems-page-detail{
    
    .ems-prd-detail-inner {
        max-width: 1220px;
        padding: 10px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        .inner-row-1 {
            width: calc(100% - 450px);
            padding-top: 44px;
            padding-right: 60px;
            padding-left: 85px;
            margin-bottom: 93px;
            position: relative;
        }
        .inner-row-2 {
            width: 450px;
            padding: 40px;
            background: $white;
            box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .ems-prd-detail-bottom{
        background: #fff;
    }

}


@media screen and (max-width: $breakpoint-large){

    .ems-page-detail{
        .ems-prd-navigation{
            display: none;
        }

        .ems-prd-detail-inner {
            padding: 0px;
            .inner-row-1 {
                width: 100%;
                margin: 0;
                padding: 0;
            }
            .inner-row-2 {
                width: 100%;
                position: initial;
                padding: 0 20px;
                box-shadow: none;
                .inner-row-2-holder{
                    padding-top: 20px;
                    text-align: center;
                    max-width: 400px;
                    margin: 0 auto;
                }
            }
        }

    }


    .ems-page-product-detail{
        .footer-information,
        .footer-ebulten{
            display: none;
        }
        .footer-copyright{
            margin-bottom: 50px;
            .page-top-scroll{
                height: 50px;
            }
        }
    }

    

}

