.widget-complete-style-wrp,
.widget-appreciate{
}


.widget-complete-style-wrp{
    margin-top: 41px;
    .swiper-title{
        font-family: $bold;
        font-size: 24px;
        font-weight: bold;
        color: #0d2048;
        margin-bottom: 22px;
    }

    .ems-prd-price{
        margin-bottom: 21px !important; 
    }
    
    .ems-prd-stock{
        display: none;
    }

    .swiper-button-prev{
        left: -10px;
    }
    .swiper-button-next{
        right: -10px;
    }

    .swiper-pagination{
        bottom: 2px;
    }
}

//bunları da beğenebilrisiniz
.widget-appreciate{
    display: none;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    
    &.results-found{
        display: inline-block;
    }
    
    .swiper-title{
        text-align: center;
    }

    .ems-prd-add{
        display: none !important;
    }



    .swiper-pagination{
        display: none;
    }
}

@media screen and (max-width: $breakpoint-large){


    .widget-complete-style-wrp{
        display: none;
    }

    //bunları da beğenebilrisiniz
    .widget-appreciate{
        display: none;
        width: 100%;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 20px;

        &:not(.no-result){
            display: inline-block;
            width: calc(100% + 40px);
            padding: 35px 20px 0;
            margin: 0 -20px -5px;
            border-top: 1px solid #dde2e7;
        }
        
        &.results-found{
            display: inline-block;
        }
        
        .swiper-title{
            text-align: center;
            margin-bottom: 10px;
            > h4{
            
                font-family: $bold;
                font-size: 20px;
                font-weight: bold;
                color: $primary;
            }
        }

        .ems-prd-add{
            display: none !important;
        }



        .swiper-pagination{
            display: none;
        }
    }
}
