$primary                : #0c2048 ;
$primary-hover          : #0a1937 ;

$secondary              : #26df2e ;
$secondary-hover        : #24ce2b;

$alternative            : #2fa3ff ;
$alternative-hover      : #2e98ec ;

$error                  : #fc2d55 ;
$error-hover            : #dd294c ;

$warning                : #ffad43 ;
$warning-hover          : #efa039 ;

$title                  : #13171e ;
$text-1                 : #3f444d ;
$text-2                 : #8d9098 ;

$lightBg                : #e1e8ee ;
$bg                     : #ecf0f3 ;
$lines                  : #e2e8ef ; 

$linkBg                 : #eef3f8 ;

$white                  : #fff ;