[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ruler:before {
  content: "\e931";
}
.icon-football:before {
  content: "\e932";
}
.icon-basket-null:before {
  content: "\e930";
}
.icon-filter:before {
  content: "\e92e";
}
.icon-cargo-bus:before {
  content: "\e92f";
}
.icon-trash:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e91e";
}
.icon-gunluk:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-hyphen:before {
  content: "\e903";
}
.icon-send:before {
  content: "\e904";
}
.icon-shop:before {
  content: "\e905";
}
.icon-tri-left1:before {
  content: "\e906";
}
.icon-tri-left2:before {
  content: "\e907";
}
.icon-tri-right:before {
  content: "\e908";
}
.icon-tri-right1:before {
  content: "\e909";
}
.icon-tri-right2:before {
  content: "\e90a";
}
.icon-tri-top:before {
  content: "\e90b";
}
.icon-tri-top1:before {
  content: "\e90c";
}
.icon-tri-top2:before {
  content: "\e90d";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-kosu:before {
  content: "\e910";
}
.icon-linkout:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e912";
}
.icon-notify:before {
  content: "\e913";
}
.icon-phone:before {
  content: "\e914";
}
.icon-pin:before {
  content: "\e915";
}
.icon-pinterest:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e917";
}
.icon-refresh:before {
  content: "\e918";
}
.icon-refresh-2:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-shopping:before {
  content: "\e91b";
}
.icon-sort:before {
  content: "\e91c";
}
.icon-success-cut:before {
  content: "\e91d";
}
.icon-trash-cut:before {
  content: "\e91f";
}
.icon-tri-bottom:before {
  content: "\e920";
}
.icon-tri-bottom1:before {
  content: "\e921";
}
.icon-tri-bottom2:before {
  content: "\e922";
}
.icon-tri-left:before {
  content: "\e923";
}
.icon-account:before {
  content: "\e924";
}
.icon-antreman:before {
  content: "\e925";
}
.icon-arrow-bottom:before {
  content: "\e926";
}
.icon-arrow-left:before {
  content: "\e927";
}
.icon-arrow-right:before {
  content: "\e928";
}
.icon-arrow-top:before {
  content: "\e929";
}
.icon-basket:before {
  content: "\e92a";
}
.icon-card:before {
  content: "\e92b";
}
.icon-card-cut:before {
  content: "\e92c";
}
.icon-cargo:before {
  content: "\e92d";
}
.icon-check:before {
  content: "\e933";
}
.icon-close:before {
  content: "\e934";
}
.icon-facebook:before {
  content: "\e935";
}
.icon-googleplus:before {
  content: "\e93b";
}