
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket-null:before {
  content: "\e92b";
  color: #0d2048;
}
.icon-googleplus:before {
  content: "\e926";
}
.icon-pinterest:before {
  content: "\e927";
}
.icon-instagram:before {
  content: "\e928";
}
.icon-facebook:before {
  content: "\e929";
}
.icon-twitter:before {
  content: "\e92a";
}
.icon-arrow-top:before {
  content: "\e900";
}
.icon-arrow-bottom:before {
  content: "\e92c";
}
.icon-arrow-left:before {
  content: "\e918";
}
.icon-arrow-right:before {
  content: "\e92d";
}
.icon-tri-bottom:before {
  content: "\e901";
}
.icon-tri-top:before {
  content: "\e92e";
}
.icon-tri-left:before {
  content: "\e92f";
}
.icon-tri-right:before {
  content: "\e930";
}
.icon-plus:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-filter .path1:before {
  content: "\e904";
  color: rgb(0, 0, 0);
}
.icon-filter .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-filter .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filter .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filter .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-trash-cut:before {
  content: "\e909";
}
.icon-trash:before {
  content: "\e90a";
  color: #000;
}
.icon-home:before {
  content: "\e90b";
  color: #000;
}
.icon-cargo:before {
  content: "\e90c";
}
.icon-shop:before {
  content: "\e90d";
}
.icon-menu:before {
  content: "\e90e";
}
.icon-hyphen:before {
  content: "\e90f";
}
.icon-notify:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-pin:before {
  content: "\e912";
}
.icon-refresh:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}
.icon-send:before {
  content: "\e915";
}
.icon-sort:before {
  content: "\e916";
}
.icon-account:before {
  content: "\e917";
}
.icon-card-cut:before {
  content: "\e919";
}
.icon-card:before {
  content: "\e91a";
}
.icon-cargo-bus .path1:before {
  content: "\e91b";
  color: rgb(0, 0, 0);
}
.icon-cargo-bus .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-cargo-bus .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cargo-bus .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-cargo-bus .path5:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-shopping:before {
  content: "\e920";
}
.icon-basket:before {
  content: "\e921";
}
.icon-success-cut:before {
  content: "\e922";
}
.icon-close:before {
  content: "\e923";
}
.icon-refresh-2:before {
  content: "\e924";
}
.icon-success:before {
  content: "\e925";
}