$lbf_EkleBtn            : "Ekle";
$lbf_BedenTxt           : "Beden";
$lbf_ListeyeEklendiTxt  : "Listeye Eklendi";
$lbf_Adet               : "Adet";
$lbf_Telefon            : "Telefon :";
$lbf_Eposta             : "E-posta :";
$lbf_Fax                : "Faks :";