.tr-TR{
    $lbf_EkleBtn            : "Ekle" !global;
    $lbf_BedenTxt           : "Beden" !global;
    $lbf_ListeyeEklendiTxt  : "Listeye Eklendi" !global;
    $lbf_Adet               : "Adet" !global;
    $lbf_Telefon            : "Telefon :" !global;
    $lbf_Eposta             : "E-posta :" !global;
    $lbf_Fax                : "Faks :" !global;
    $lbf_TumunuTemizle      : "Tümünü Temizle" !global;
    $lbf_Uygula             : "Uygula" !global;
    $kargoBedava            : "Kargo Bedava" !global;
    $lbf_KayitliKrediKart   : 'Kayıtlı Kredi Kartlarım' !global;
    $lbf_dahaFazlaYukle     : 'Daha fazla yükle' !global;
    $lbf_veya               : 'veya' !global;
    $spr3indirim50          : "2.Ürüne %50 İndirim" !global;
    $spr4indirim30          : "2.Ürüne %30 İndirim" !global;
}

.en-US{
    $lbf_EkleBtn            : "Ekle" !global;
    $lbf_BedenTxt           : "Beden" !global;
    $lbf_ListeyeEklendiTxt  : "Listeye Eklendi" !global;
    $lbf_Adet               : "Adet" !global;
    $lbf_Telefon            : "Telefon :" !global;
    $lbf_Eposta             : "E-posta :" !global;
    $lbf_Fax                : "Faks :" !global;
    $lbf_TumunuTemizle      : "Tümünü Temizle" !global;
    $lbf_Uygula             : "Uygula" !global;
    $kargoBedava            : "Kargo Bedava" !global;
    $lbf_KayitliKrediKart   : 'Kayıtlı Kredi Kartlarım' !global;
    $lbf_dahaFazlaYukle     : 'Daha fazla yükle' !global;
    $lbf_veya               : 'veya' !global;
    $spr3indirim50          : "2.Ürüne %50 İndirim" !global;
    $spr4indirim30          : "2.Ürüne %30 İndirim" !global;
}