.tr-TR{
    $lbf_EkleBtn            : "Ekle" !global;
    $lbf_BedenTxt           : "Beden" !global;
    $lbf_ListeyeEklendiTxt  : "Listeye Eklendi" !global;
    $lbf_Adet               : "Adet" !global;
    $lbf_Telefon            : "Telefon :" !global;
    $lbf_Eposta             : "E-posta :" !global;
    $lbf_Fax                : "Faks :" !global;
    $lbf_TumunuTemizle      : "Tümünü Temizle" !global;
    $lbf_Uygula             : "Uygula" !global;
    $kargoBedava            : "Kargo Bedava" !global;
}

.en-US{
    $lbf_EkleBtn            : "Ekle" !global;
    $lbf_BedenTxt           : "Beden" !global;
    $lbf_ListeyeEklendiTxt  : "Listeye Eklendi" !global;
    $lbf_Adet               : "Adet" !global;
    $lbf_Telefon            : "Telefon :" !global;
    $lbf_Eposta             : "E-posta :" !global;
    $lbf_Fax                : "Faks :" !global;
    $lbf_TumunuTemizle      : "Tümünü Temizle" !global;
    $lbf_Uygula             : "Uygula" !global;
    $kargoBedava            : "Kargo Bedava" !global;
}