// TEST URL
$baseHref: '';
// CANLI URL $baseHref: '';


// AVENIR FONTS
$bold                : 'AvenirNext-Bold' ;
$regular             : 'AvenirNext-Regular' ;
$demiBold            : 'AvenirNext-DemiBold' ;

// LAYOUT
$siteContainerWidth: 1200px;
$siteContainerWidthFull: 1440px;

$singleOuter: 15px;
$singleOuterMobile: 20px;


// BREAKPOINTS
$breakpoint-mini        : 320px ;
$breakpoint-small       : 480px ;
$breakpoint-medium      : 768px ;
$breakpoint-large       : 960px ;
$breakpoint-xlarge      : 1200px ;

$header-height : 80px;